{% load static i18n %}
<!--begin::Chat drawer-->
<div id="kt_drawer_debug" class="bg-body" data-kt-drawer="true"
     data-kt-drawer-name="debug" data-kt-drawer-activate="true"
     data-kt-drawer-overlay="true"
     data-kt-drawer-width="{default:'300px', 'md': '500px'}"
     data-kt-drawer-direction="end"
     data-kt-drawer-toggle="#kt_drawer_debug_toggle"
     data-kt-drawer-close="#kt_drawer_debug_close">
  <!--begin::Messenger-->
  <div class="card w-100 rounded-0 border-0" id="kt_drawer_debug_messenger">
    <!--begin::Card header-->
    <div class="card-header pe-5" id="kt_drawer_debug_messenger_header">
      <!--begin::Title-->
      <div class="card-title">
        <!--begin::User-->
        <div class="d-flex justify-content-center flex-column me-3">
          <a href="#"
             class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 mb-2 lh-1">{% translate 'Debug toolbars' %}</a>
        </div>
        <!--end::User-->
      </div>
      <!--end::Title-->
      <!--begin::Card toolbar-->
      <div class="card-toolbar">
        <!--begin::Close-->
        <div class="btn btn-sm btn-icon btn-active-light-primary"
             id="kt_drawer_debug_close">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
          <span class="svg-icon svg-icon-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                    fill="currentColor"/>
              <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                    fill="currentColor"/>
            </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
      <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body" id="kt_drawer_debug_messenger_body">
      <!--begin::Messages-->
      <div class="scroll-y me-n5 pe-5" data-kt-element="messages"
           data-kt-scroll="true" data-kt-scroll-activate="true"
           data-kt-scroll-height="auto"
           data-kt-scroll-dependencies="#kt_drawer_debug_messenger_header, #kt_drawer_debug_messenger_footer"
           data-kt-scroll-wrappers="#kt_drawer_debug_messenger_body"
           data-kt-scroll-offset="0px">
        {% if fields %}
          <!--begin::Message(in)-->
          <div class="d-flex justify-content-start mb-10">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column align-items-start">
              <!--begin::User-->
              <div class="d-flex align-items-center mb-2">
                <!--begin::Avatar-->
                <div class="symbol symbol-35px symbol-circle">
                </div>
                <!--end::Avatar-->
                <!--begin::Details-->
                <div class="ms-3">
                  <a href="#"
                     class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1">Fields:</a>
                </div>
                <!--end::Details-->
              </div>
              <!--end::User-->
              <!--begin::Text-->
              <div
                class="p-5 rounded bg-light-info text-dark fw-bold mw-lg-400px text-start"
                id="debug_fields_div">
              </div>
              {{ fields | json_script:"debug_fields_data" }}
              <script defer>
                const obj = JSON.parse(document.getElementById('debug_fields_data').textContent);
                $('#debug_fields_div').jsonViewer(obj, {collapsed: true});
              </script>
              <!--end::Text-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Message(in)-->
        {% endif %}
        {% if object %}
          <!--begin::Message(in)-->
          <div class="d-flex justify-content-start mb-10">
            <!--begin::Wrapper-->
            <div class="d-flex flex-column align-items-start">
              <!--begin::User-->
              <div class="d-flex align-items-center mb-2">
                <!--begin::Avatar-->
                <div class="symbol symbol-35px symbol-circle">
                </div>
                <!--end::Avatar-->
                <!--begin::Details-->
                <div class="ms-3">
                  <a href="#"
                     class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1">Object:</a>
                </div>
                <!--end::Details-->
              </div>
              <!--end::User-->
              <!--begin::Text-->
              <div
                class="p-5 rounded bg-light-info text-dark fw-bold mw-lg-400px text-start"
                id="debug_object_div">
              </div>
              {{ object.as_dict | json_script:"debug_object_data" }}
              <script defer>
                const obj = JSON.parse(document.getElementById('debug_object_data').textContent);
                $('#debug_object_div').jsonViewer(obj, {collapsed: true});
              </script>
              <!--end::Text-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Message(in)-->
        {% endif %}
      </div>
      <!--end::Messages-->
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Messenger-->
</div>
<!--end::Chat drawer-->
