{% extends "base.html" %}
{% load static i18n object_filter %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <!--begin::Container-->
  <!--begin::Basic info-->
  <div class="card mb-5 mb-xl-10">
    <!--begin::Content-->
    <div id="kt_account_settings_profile_details"
         class="collapse show">
      {% if layout == '1COL' %}
        {% include 'partials/widgets/forms/one-col-form.html' with form=form action_url='.' %}
      {% else %}
        {% include 'partials/widgets/forms/two-col-form.html' with form=form action_url='.' %}
      {% endif %}
    </div>
    <!--end::Content-->
  </div>
  <!--end::Basic info-->
  <!--end::Container-->
{% endblock content %}
