<!--begin::Form-->
<form id="kt_form_details_form"
      class="form" method="post" enctype="multipart/form-data"
      action={{ action_url }}>
  {% csrf_token %}
  <!--begin::Card body-->
  <div class="card-body p-9 pt-0">
    <div class="separator separator-dashed separator-content border-primary my-10">
      <span class="w-250px fw-bold">{% trans 'General Infomation' %}</span>
    </div>
    <!--begin::Form-->
    {% include 'forms/form.html' %}
    <!--end::Form-->

    <!--begin::Dynamic-->
    {% include 'forms/dynamic.html' %}
    <!--end::Dynamic-->

    <!--begin::Nested Forms-->
    {% for nested_form in nested_forms %}
      <div class="separator separator-dashed separator-content border-primary my-10">
        <span class="w-250px fw-bold">{{ nested_form.title|title }}</span>
      </div>
      {% include 'forms/form.html' with form=nested_form.form hidden_fields=nested_form.hidden_fields %}
    {% endfor %}
    <!--end::Nested Forms-->

    <!--begin::Formsets-->
    {% for formset in formsets %}
      {% include "forms/formset_as_table.html" %}
    {% endfor %}

    {% for formset in formsets %}
      {% include "forms/formset_as_card.html" %}
    {% endfor %}
    <!--end::Formsets-->
  </div>
  <!--end::Card body-->
  <!--begin::Actions-->
  <div class="card-footer d-flex justify-content-end py-6 px-9">
    <button type="reset" class="btn btn-light btn-active-light-primary me-2">{% translate 'Reset Form' %}</button>
    <button type="submit" class="btn btn-primary" id="kt_form_details_submit">{% translate 'Save Changes' %}</button>
  </div>
  <!--end::Actions-->
</form>
<!--end::Form-->
