<!--begin::Form-->
<form id="kt_form_details_form"
      class="form" method="post" enctype="multipart/form-data"
      action={{ request.path }}?popup=1>
  {% csrf_token %}
  <!--begin::Card body-->
  <div class="card-body p-5 pt-0">
    <input type="hidden" value="{{ form_title }}" id="id_form_title">
    <div class="separator separator-dashed separator-content border-primary mb-5">
      <span class="w-250px fw-bold">{% trans 'General Infomation' %}</span>
    </div>

    <div class="row">
    {% for field in form %}
      <!--begin::Input group-->
      <div
        class="col-6 {% if forloop.last %}mb-0{% else %}mb-6{% endif %} {% if field.name in hidden_fields %}d-none{% endif %}">
        <!--begin::Label-->
        <label class="form-label {% if field.field.required %}required{% endif %}">
          {{ field.label|title }}</label>
        <!--end::Label-->
        <!--begin::Col-->
        {{ field }}
        <div class="fv-plugins-message-container">{{ field.help_text }}</div>
        <!--end::Col-->
      </div>
      <!--end::Input group-->
    {% endfor %}
    </div>

    {% for nested_form in nested_forms %}
      <div class="separator separator-dashed separator-content border-primary my-10">
        <span class="w-250px fw-bold">{{ nested_form.title|title }}</span>
      </div>
      <div class="row">
      {% for field in nested_form.form %}
        <!--begin::Input group-->
        <div class="col-6 {% if forloop.last %}mb-0{% else %}mb-6{% endif %}">
          <!--begin::Label-->
          <label
            class="d-block form-label {% if field.field.required %}required{% endif %}">{{ field.label|title }}</label>
          <!--end::Label-->
          <!--begin::Col-->
          {{ field }}
          <div class="fv-plugins-message-container">{{ field.help_text }}</div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->
      {% endfor %}
      </div>
    {% endfor %}
  </div>
  <!--end::Card body-->
</form>
<!--end::Form-->
{{ form.media }}
