<div class="card card-bordered">
  <div class="card-header collapsible cursor-pointer rotate" data-bs-toggle="collapse"
       data-bs-target="#kt_formset_collapsible">
    <h3 class="card-title">{{ formset.title|title }}</h3>
    <div class="card-toolbar rotate-180">
      {% get_svg_icon 'duotune/arrows/arr066.svg' 'svg-icon svg-icon-1' %}
    </div>
  </div>
  <div id="kt_formset_collapsible" class="collapse">
    <div class="card-body p-0 pt-5">
      <!--begin::Formset Management-->
      {{ formset.formset.management_form }}
      <!--end::Formset Management-->

      <!--begin::Empty form-->
      <div class="d-none" id="id_div_empty_form_card">
        {% with form=formset.formset.empty_form %}
          <div class="d-flex position-relative pe-10" data-kt-element="items">
            <div class="flex-fill d-flex">
              <!--begin::Form group-->
              {% for field in form %}
                {% if field.field.widget.input_type == 'hidden' or field.name in formset.hidden_fields or 'DELETE' in field.name %}
                  <div class="d-none">{{ field }}</div>
                {% else %}
                  <div class="me-4 flex-fill">
                    {% if field.field.widget.input_type == 'select' %}
                      {% include "fields/floating-label-select-field.html" %}
                    {% else %}
                      {% include "fields/floating-label-field.html" %}
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
              <!--end::Form group-->
            </div>
            <div class="position-absolute align-self-center" style="right: 0;">
              <a
                class="btn btn-sm btn-icon btn-color-danger btn-light btn-active-light-danger"
                data-bs-toggle="tooltip"
                data-bs-delay-hide="1000"
                data-bs-placement="top"
                data-kt-element="remove-item"
                data-index="__prefix__"
                kt-target-element="#id_{{ formset.prefix }}-__prefix__-DELETE"
                title="{% trans 'Delete this line' %}"
              >
                {% get_svg_icon "duotune/general/gen027.svg" 'svg-icon svg-icon-3 m-0' %}
              </a>
            </div>
          </div>
        {% endwith %}

      </div>
      <!--begin::Empty form-->

      <div class="hover-scroll-overlay-y scroll-x h-300px" id="id_card_formset_{{ formset.prefix }}">
        {% for form in formset.formset %}
          <div class="d-flex position-relative pe-10" data-kt-element="items" data-kt-is-real>
            <div class="flex-fill d-flex">
              <!--begin::Form group-->
              {% for field in form %}
                {% if field.field.widget.input_type == 'hidden' or field.name in formset.hidden_fields or 'DELETE' in field.name %}
                  <div class="d-none">{{ field }}</div>
                {% else %}
                  <div class="me-4 flex-fill">
                    {% if field.field.widget.input_type == 'select' %}
                      {% include "fields/floating-label-select-field.html" %}
                    {% else %}
                      {% include "fields/floating-label-field.html" %}
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
              <!--end::Form group-->
            </div>
            <div class="position-absolute align-self-center" style="right: 0;">
              <a
                class="btn btn-sm btn-icon btn-color-danger btn-light btn-active-light-danger"
                data-bs-toggle="tooltip"
                data-bs-delay-hide="1000"
                data-bs-placement="top"
                data-kt-element="remove-item"
                data-index="{{ forloop.counter0 }}"
                kt-target-element="#id_{{ formset.prefix }}-{{ forloop.counter0 }}-DELETE"
                title="{% trans 'Delete this line' %}"
              >
                {% get_svg_icon "duotune/general/gen027.svg" 'svg-icon svg-icon-3 m-0' %}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
    <div class="card-footer d-flex justify-content-end py-6 px-9">
      <a
        class="btn btn-sm btn-icon btn-color-primary btn-light btn-active-light-primary"
        data-bs-toggle="tooltip"
        data-bs-delay-hide="1000"
        data-bs-placement="top"
        title="{% trans 'Add new line' %}"
        kt-add-line-formset="true"
        kt-target-total="#id_items-TOTAL_FORMS"
        kt-target-append="#id_card_formset_{{ formset.prefix }}"
        kt-target-element="#id_div_empty_form_card"
      >
        {% get_svg_icon "duotune/arrows/arr075.svg" 'svg-icon svg-icon-3 m-0' %}
      </a>
    </div>
  </div>
</div>
