<!--begin::Form-->
<form id="kt_account_profile_details_form"
      class="form" method="post" enctype="multipart/form-data"
      action={{ request.path }}?popup=1>
  {% csrf_token %}
  <!--begin::Card body-->
  <div class="card-body p-5 pt-0">
    <div class="separator separator-dashed separator-content border-primary mb-5">
      <span class="w-250px fw-bold">{% trans 'General Infomation' %}</span>
    </div>
    {% for field in form %}
      <!--begin::Input group-->
      <div class="row {% if forloop.last %}mb-0{% else %}mb-6{% endif %}">
        <!--begin::Label-->
        <label
          class="col-lg-4 col-form-label fw-bold fs-6 {% if field.field.required %}required{% endif %}">
          {{ field.label|title }}</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8 fv-row">
          {{ field }}
          <div class="fv-plugins-message-container valid-feedback">{{ field.help_text }}</div>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Input group-->
    {% endfor %}
    {% for nested_form in nested_forms %}
      <div class="separator separator-dashed separator-content border-primary my-10">
        <span class="w-250px fw-bold">{{ nested_form.title|title }}</span>
      </div>

      {% for field in nested_form.form %}
        <!--begin::Input group-->
        <div class="row {% if forloop.last %}mb-0{% else %}mb-6{% endif %}">
          <!--begin::Label-->
          <label
            class="col-lg-4 col-form-label fw-bold fs-6 {% if field.field.required %}required{% endif %}">
            {{ field.label|title }}</label>
          <!--end::Label-->
          <!--begin::Col-->
          <div class="col-lg-8 fv-row">
            {{ field }}
            <div class="fv-plugins-message-container valid-feedback">{{ field.help_text }}</div>
          </div>
          <!--end::Col-->
        </div>
        <!--end::Input group-->
      {% endfor %}
    {% endfor %}
  </div>
  <!--end::Card body-->
</form>
<!--end::Form-->
