{% load i18n static %}
<link rel="stylesheet" href="{% static 'js/plugins/dropify/dist/css/dropify.min.css' %}">
<script src="{% static 'js/plugins/dropify/dist/js/dropify.min.js' %}"></script>
<div class="dropify-mordern-file">
  {% if widget.is_initial %}
    <input
      type="{{ widget.type }}"
      name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
      {% include "django/forms/widgets/attrs.html" %} data-default-file="{{ widget.value.url }}">
  {% else %}
    <input
      type="{{ widget.type }}"
      name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
      {% include "django/forms/widgets/attrs.html" %}>
  {% endif %}
</div>
<script defer>
  $("#{% for name, value in widget.attrs.items %}{% if name == 'id' %}{{ value|stringformat:'s' }}{% endif %}{% endfor %}").dropify(

  );
</script>
