<!--begin::Modals-->

{#{% include 'partials/modals/_upgrade-plan.html' %}#}

{#{% include 'partials/modals/create-app/_main.html' %}#}

{#{% include 'partials/modals/create-campaign/_main.html' %}#}

{#{% include 'partials/modals/create-project/_main.html' %}#}

{#{% include 'partials/modals/_new-target.html' %}#}

{#{% include 'partials/modals/_view-users.html' %}#}

{#{% include 'partials/modals/users-search/_main.html' %}#}

{#{% include 'partials/modals/_invite-friends.html' %}#}
<!--end::Modals-->
