{% load humanize %}
<!--begin::Sidebar-->
<div class="flex-column flex-lg-row-auto w-lg-250px w-xl-350px mb-10">
  <!--begin::Card-->
  <div class="card mb-5 mb-xl-8">
    <!--begin::Card body-->
    <div class="card-body">
      <!--begin::Summary-->
      <!--begin::User Info-->
      <div class="d-flex flex-center flex-column py-5">
        <!--begin: Pic-->
        <div class="me-7">
          <div
            class="symbol symbol-100px symbol-circle mb-7 symbol-fixed position-relative">
            {% if user.avatar %}
              <img src="{{ user.avatar.url }}" alt="avatar"/>
            {% else %}
              <img src="{% static 'media/svg/shapes/abstract-1-dark.svg' %}" alt="avatar"/>
            {% endif %}
            {{ user.is_online_dot|safe }}
          </div>
        </div>
        <!--end::Pic-->
        <!--begin::Name-->
        <a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-3">
          {% if user.name %}
            {{ user.name|safe|title }}
          {% else %}
            {{ user.username|safe|title }}
          {% endif %}
        </a>
        <!--end::Name-->
      </div>
      <!--end::User Info-->
      <!--end::Summary-->
      <!--begin::Details toggle-->
      <div class="d-flex flex-stack fs-4 py-3">
        <div class="fw-bolder rotate collapsible" data-bs-toggle="collapse" href="#kt_user_view_details"
             role="button" aria-expanded="false" aria-controls="kt_user_view_details">{% translate 'Details' %}
          <span class="ms-2 rotate-180">
            {% get_svg_icon 'duotune/arrows/arr065.svg' 'svg-icon svg-icon-3' %}
          </span>
        </div>
        <!--begin::Primary button-->
        <a
          class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="{% translate 'Edit profile details' %}"

          quick-update-button
          data-action-url="{% url 'users:update' %}?popup=1"
        >
          {% get_svg_icon 'duotune/art/art005.svg' 'svg-icon svg-icon-3 m-0' %}
        </a>
        <!--end::Primary button-->
      </div>
      <!--end::Details toggle-->
      <div class="separator"></div>
      <!--begin::Details content-->
      <div id="kt_user_view_details" class="collapse show">
        <div class="pb-5 fs-6">
          <!--begin::Details item-->
          <div class="fw-bolder mt-5">{% translate 'Account Id' %}</div>
          <div class="text-gray-600">{{ user.id }}</div>
          <!--begin::Details item-->

          <!--begin::Details item-->
          <div class="fw-bolder mt-5">{% translate 'Email' %}</div>
          <div class="text-gray-600">{{ user.email }}</div>
          <!--begin::Details item-->

          <!--begin::Details item-->
          <div class="fw-bolder mt-5">{% translate 'Username' %}</div>
          <div class="text-gray-600"> {{ user.username }}</div>
          <!--begin::Details item-->

          <!--begin::Details item-->
          <div class="fw-bolder mt-5">{% translate 'Last login' %}</div>
          <div class="text-gray-600"> {{ user.last_login|naturalday }}</div>
          <!--begin::Details item-->

          <!--begin::Details item-->
          <div class="fw-bolder mt-5">{% translate 'Is Superuser' %}</div>
          <div class="text-gray-600"> {{ user.is_superuser }}</div>
          <!--begin::Details item-->

          <!--begin::Details item-->
          <div class="fw-bolder mt-5">{% translate 'Is Staff' %}</div>
          <div class="text-gray-600"> {{ user.is_staff }}</div>
          <!--begin::Details item-->

          <!--begin::Details item-->
          <div class="fw-bolder mt-5">{% translate 'Is Active' %}</div>
          <div class="text-gray-600"> {{ user.is_active }}</div>
          <!--begin::Details item-->

          <!--begin::Details item-->
          <div class="fw-bolder mt-5">{% translate 'Date Joined' %}</div>
          <div class="text-gray-600"> {{ user.date_joined|naturalday }}</div>
          <!--begin::Details item-->

        </div>
      </div>
      <!--end::Details content-->
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Card-->
</div>
<!--end::Sidebar-->
