{% extends "users/base.html" %}
{% load humanize %}

{% block inner_content %}
  <!--begin::Container-->
  <div class="card mb-5 mb-xl-10">
    <!--begin::Content-->
    <div id="user_profile_email_management"
         class="collapse show">
      <form action="{% url 'account_email' %}" class="email_list" method="post">
        {% csrf_token %}
        <!--begin::Email-->
        <div class="card mb-5 mb-xl-10">
          <!--begin::Card header-->
          <div class="card-header">
            <!--begin::Title-->
            <div class="card-title">
              <h2>{% trans 'Email' %}</h2>
            </div>
            <!--end::Title-->
            <!--begin::Toolbar-->
            <div class="card-toolbar">
              <div class="my-1 me-4">
                <!--begin::Action-->
                <span data-bs-toggle="modal" data-bs-target="#user_profile_add_email_modal">
                  <button class="btn btn-sm btn-icon btn-color-primary btn-light btn-active-light-primary"
                          type="button" name="action_create"
                          data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Add new email' %}">
                    {% get_svg_icon 'duotune/arrows/arr075.svg' 'svg-icon svg-icon-3' %}
                  </button>
                </span>
                <button class="btn btn-sm btn-icon btn-color-success btn-light btn-active-light-success"
                        type="submit" name="action_primary"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Set email as primary' %}">
                  {% get_svg_icon 'duotune/abstract/abs024.svg' 'svg-icon svg-icon-3' %}
                </button>
                <button class="btn btn-sm btn-icon btn-color-warning btn-light btn-active-light-warning"
                        type="submit" name="action_send"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Resend verify email' %}">
                  {% get_svg_icon 'duotune/communication/com002.svg' 'svg-icon svg-icon-3' %}
                </button>
                <button class="btn btn-sm btn-icon btn-color-danger btn-light btn-active-light-danger"
                        type="submit" name="action_remove"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Delete email' %}">
                  {% get_svg_icon 'duotune/general/gen027.svg' 'svg-icon svg-icon-3' %}
                </button>
                <!--end::Action-->
              </div>
            </div>
            <!--end::Toolbar-->
          </div>
          <!--end::Card header-->
          <!--begin::Card body-->
          <div class="card-body p-0">
            <!--begin::Table wrapper-->
            <div class="table-responsive">
              {% if user.emailaddress_set.all %}
                <!--begin::Table-->
                <table class="table table-flush align-middle table-row-bordered table-row-solid gy-4 gs-9">
                  <!--begin::Thead-->
                  <thead class="border-gray-200 fs-5 fw-bold bg-lighten">
                  <tr>
                    <th class="w-125px">{% trans 'Selected' %}</th>
                    <th class="min-w-250px">{% trans 'Email' %}</th>
                    <th class="min-w-100px">{% trans 'Status' %}</th>
                  </tr>
                  </thead>
                  <!--end::Thead-->
                  <!--begin::Tbody-->
                  <tbody class="fw-6 fw-bold text-gray-600">
                  {% for emailaddress in user.emailaddress_set.all %}
                    <tr>
                      <td>
                        <div class="form-check form-check-custom form-check-solid">
                          <input id="email_radio_{{ forloop.counter }}" type="radio" name="email"
                                 {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{% endif %}
                                 value="{{ emailaddress.email }}"
                                 class="form-check-input"/>
                          <label class="form-check-label" for="email_radio_{{ forloop.counter }}">
                          </label>
                        </div>
                      </td>
                      <td>
                        {{ emailaddress.email }}
                        {% if emailaddress.primary %}
                          {% get_svg_icon 'duotune/abstract/abs024.svg' 'svg-icon svg-icon-3 svg-icon-success' %}
                        {% endif %}
                      </td>
                      <td>
                        {% if emailaddress.verified %}
                          <span
                            class="badge badge-light-success fs-7 fw-bolder">{% trans "Verified" %}</span>
                        {% else %}
                          <span
                            class="badge badge-light-danger fs-7 fw-bolder">{% trans "Unverified" %}</span>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  <!--end::Tbody-->
                </table>
                <!--end::Table-->
              {% else %}
                <p>
                  <strong>{% trans 'Warning:' %}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}
                </p>
              {% endif %}
            </div>
            <!--end::Table wrapper-->
          </div>
          <!--end::Card body-->
        </div>
        <!--end::Emails-->
      </form>
    </div>
    <!--end::Content-->
  </div>
  <!--end::Container-->

  <!--begin::Container-->
  <div class="card pt-4 mb-6 mb-xl-9">
    <!--begin::Card header-->
    <div class="card-header border-0">
      <!--begin::Card title-->
      <div class="card-title">
        <h2>{% trans 'Profile' %}</h2>
      </div>
      <!--end::Card title-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0 pb-5">
      <!--begin::Table wrapper-->
      <div class="table-responsive">
        <!--begin::Table-->
        <table class="table align-middle table-row-dashed gy-5" id="user_profile_profile_table">
          <!--begin::Table body-->
          <tbody class="fs-6 fw-bold text-gray-600">
          <tr>
            <td>{% trans 'Password' %}</td>
            <td>******</td>
            <td class="text-end">
              <button type="button" class="btn btn-icon btn-active-light-primary w-30px h-30px ms-auto"
                      data-bs-toggle="modal" data-bs-target="#user_profile_change_password_modal">
                <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
                <span class="svg-icon svg-icon-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                           viewBox="0 0 24 24" fill="none">
                        <path opacity="0.3"
                              d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z"
                              fill="currentColor"></path>
                        <path
                          d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z"
                          fill="currentColor"></path>
                      </svg>
                    </span>
                <!--end::Svg Icon-->
              </button>
            </td>
          </tr>
          </tbody>
          <!--end::Table body-->
        </table>
        <!--end::Table-->
      </div>
      <!--end::Table wrapper-->
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Container-->
{% endblock inner_content %}

{% block modal %}
  <!--begin::Modal - Add new email-->
  <div class="modal fade" id="user_profile_add_email_modal" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
      <!--begin::Modal content-->
      <div class="modal-content">
        <!--begin::Modal header-->
        <div class="modal-header" id="kt_modal_add_new_email_header">
          <!--begin::Modal title-->
          <h2>{% trans 'Add new email' %}</h2>
          <!--end::Modal title-->
          <!--begin::Close-->
          <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
            {% get_svg_icon 'duotune/arrows/arr061.svg' 'svg-icon svg-icon-1' %}
          </div>
          <!--end::Close-->
        </div>
        <!--end::Modal header-->
        <!--begin::Form-->
        <form id="kt_modal_add_new_email_form" class="form" action="{% url 'account_email' %}" method="post">
          {% csrf_token %}
          <!--begin::Modal body-->
          <div class="modal-body py-10 px-lg-17">
            <!--begin::Input group-->
            <div class="mb-5 fv-row">
              <!--begin::Label-->
              <label class="required fs-5 fw-bold mb-2">{% trans 'Enter New Email Address' %}</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="email"
                     class="form-control form-control-solid"
                     placeholder="{% trans 'Email Address' %}"
                     name="email" id="id_email" required/>
              <!--end::Input-->
            </div>
            <!--end::Input group-->
          </div>
          <!--end::Modal body-->
          <!--begin::Modal footer-->
          <div class="modal-footer flex-center">
            <!--begin::Button-->
            <button type="submit" name="action_add" id="kt_modal_add_new_email_submit" class="btn btn-primary">
              <span class="indicator-label">{% trans "Submit" %}</span>
              <span class="indicator-progress">{% trans "Please wait" %}...
								<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
            <!--end::Button-->
          </div>
          <!--end::Modal footer-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
  </div>
  <!--end::Modal - Add new email-->

  <!--begin::Modal - Change password-->
  <div class="modal fade" id="user_profile_change_password_modal" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
      <!--begin::Modal content-->
      <div class="modal-content">
        <!--begin::Modal header-->
        <div class="modal-header" id="kt_modal_change_password_header">
          <!--begin::Modal title-->
          <h2>{% trans 'Change password' %}</h2>
          <!--end::Modal title-->
          <!--begin::Close-->
          <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
            {% get_svg_icon 'duotune/arrows/arr061.svg' 'svg-icon svg-icon-1' %}
          </div>
          <!--end::Close-->
        </div>
        <!--end::Modal header-->
        <!--begin::Form-->
        <form id="user_change_password_form"
              class="form fv-plugins-bootstrap5 fv-plugins-framework"
              method="post" enctype="multipart/form-data" action="{% url 'account_change_password' %}">
          {% csrf_token %}
          <!--begin::Modal body-->
          <div class="modal-body py-10 px-lg-17">
            <!--begin::Card body-->
            <div class="card-body">
              <!--begin::Input group-->
              <div class="fv-row mb-7">
                <label class="form-label fw-bolder text-dark fs-6">{% trans "Current Password" %}</label>
                <input class="form-control form-control-lg form-control-solid"
                       type="password" placeholder=""
                       name="oldpassword" autocomplete="off" id="id_oldpassword"/>
              </div>
              <!--end::Input group-->
              <!--begin::Input group-->
              <div class="mb-10 fv-row" data-kt-password-meter="true">
                <!--begin::Wrapper-->
                <div class="mb-1">
                  <!--begin::Label-->
                  <label class="form-label fw-bolder text-dark fs-6">{% trans "Password" %}</label>
                  <!--end::Label-->
                  <!--begin::Input wrapper-->
                  <div class="position-relative mb-3">
                    <input class="form-control form-control-lg form-control-solid"
                           type="password" placeholder="" name="password1"
                           autocomplete="off" id="id_password1"/>
                    <span
                      class="btn btn-sm btn-icon position-absolute trans-middle top-50 end-0 me-n2"
                      data-kt-password-meter-control="visibility">
                      <i class="bi bi-eye-slash fs-2"></i>
                      <i class="bi bi-eye fs-2 d-none"></i>
                    </span>
                  </div>
                  <!--end::Input wrapper-->
                  <!--begin::Meter-->
                  <div class="d-flex align-items-center mb-3"
                       data-kt-password-meter-control="highlight">
                    <div
                      class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                    <div
                      class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                    <div
                      class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                    <div
                      class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                  </div>
                  <!--end::Meter-->
                </div>
                <!--end::Wrapper-->
                <!--begin::Hint-->
                <div class="text-muted">{% blocktrans %}Use 8 or more characters with a mix of letters,
                  numbers &amp; symbols.{% endblocktrans %}
                </div>
                <!--end::Hint-->
              </div>
              <!--end::Input group=-->
              <!--begin::Input group-->
              <div class="fv-row mb-5">
                <label class="form-label fw-bolder text-dark fs-6">{% trans "Confirm Password" %}</label>
                <input class="form-control form-control-lg form-control-solid"
                       type="password" placeholder="" name="password2"
                       autocomplete="off" id="id_password2"/>
              </div>
              <!--end::Input group-->
            </div>
            <!--end::Card body-->
          </div>
          <!--end::Modal body-->
          <!--begin::Modal footer-->
          <div class="modal-footer flex-center">
            <!--begin::Button-->
            <button type="submit" name="action_add" id="user_change_password_submit" class="btn btn-primary">
              <span class="indicator-label">{% trans "Submit" %}</span>
              <span class="indicator-progress">{% trans "Please wait" %}...
								<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
            <!--end::Button-->
          </div>
          <!--end::Modal footer-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
  </div>
  <!--end::Modal - Change password-->

{% endblock modal %}

{% block inline_javascript %}
  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', function () {
      const message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
      const actions = document.getElementsByName('action_remove');
      if (actions.length) {
        actions[0].addEventListener("click", function (e) {
          e.preventDefault();
          Swal.fire({
            text: message || "Are you sure you want to delete this(these) record?",
            icon: "warning",
            showCancelButton: true,
            buttonsStyling: false,
            confirmButtonText: "Yes, delete!",
            cancelButtonText: "No, cancel",
            customClass: {
              confirmButton: "btn fw-bold btn-danger", cancelButton: "btn fw-bold btn-active-light-primary",
            },
          }).then(function (result) {
            if (result.isConfirmed) {
              console.log('result--------', result)
              Array.from(document.getElementsByClassName('form-group')).forEach(x => x.classList.remove('row'));
            }
          })

          //if (!confirm(message)) {
          //e.preventDefault();
          //}
        });
      }
      //Array.from(document.getElementsByClassName('form-group')).forEach(x => x.classList.remove('row'));
    });
  </script>

  <script>
    // Elements
    let form = document.querySelector('#user_change_password_form');
    let submitButton = document.querySelector('#user_change_password_submit');
    let passwordMeter = KTPasswordMeter.getInstance(form.querySelector('[data-kt-password-meter="true"]'));

    // Init form validation rules. For more info check the FormValidation plugin's official documentation:https://formvalidation.io/
    let validator = FormValidation.formValidation(
      form,
      {
        fields: {
          'oldpassword': {
            validators: {
              notEmpty: {
                message: '{% trans "Current password is required" %}'
              }
            }
          },
          'password1': {
            validators: {
              notEmpty: {
                message: '{% trans "The password is required" %}'
              },
              callback: {
                message: '{% trans "Please enter valid password" %}',
                callback: function (input) {
                  if (input.value.length > 0) {
                    return validatePassword();
                  }
                }
              }
            }
          },
          'password2': {
            validators: {
              notEmpty: {
                message: '{% trans "The password confirmation is required" %}'
              },
              identical: {
                compare: function () {
                  return form.querySelector('[name="password1"]').value;
                },
                message: '{% trans "The password and its confirm are not the same" %}'
              }
            }
          }
        },
        plugins: {
          trigger: new FormValidation.plugins.Trigger({
            event: {
              password: false
            }
          }),
          bootstrap: new FormValidation.plugins.Bootstrap5({
            rowSelector: '.fv-row',
            eleInvalidClass: '',
            eleValidClass: ''
          })
        }
      }
    );
    // Handle form submit
    submitButton.addEventListener('click', function (e) {
      e.preventDefault();
      validator.revalidateField('password1');
      validator.validate().then(function (status) {
        if (status === 'Valid') {
          // Show loading indication
          submitButton.setAttribute('data-kt-indicator', 'on');
          // Disable button to avoid multiple click
          submitButton.disabled = true;
          form.submit();
        } else {
          // Show error popup. For more info check the plugin's official documentation: https://sweetalert2.github.io/
          toastr.error("{% trans 'Sorry, looks like there are some errors detected, please try again' %}", "{% trans 'Error' %}")
        }
      });
    });
    // Handle password input
    form.querySelector('input[name="password1"]').addEventListener('input', function () {
      if (this.value.length > 0) {
        validator.updateFieldStatus('password1', 'NotValidated');
      }
    });
    // Password input validation
    let validatePassword = function () {
      return (passwordMeter.getScore() === 100);
    }
  </script>
{% endblock inline_javascript %}
