{% load webpush_notifications %}

<div class="form-row" id="file-uploader">
  <div class="form-col">
    <noscript>
      {% trans "Please enable Javascript to upload files." %}
    </noscript>
  </div>
</div>
<script type="text/javascript">
  let fileUploader_url = "{% url 'filebrowser:fb_do_upload' %}";
  let template_strings = {
    "drop_area": "{% trans 'Drop files here to upload' %}",
    "upload_btn": "{% trans 'Upload a file' %}"
  }
  let fileTemplate_strings = {
    "cancel": "{% trans 'Cancel' %}",
    "failed": "{% trans 'Failed' %}"
  }
  let messages = {
    "typeError": "{% trans '{file} has invalid extension. Only {extensions} are allowed.' %}",
    "sizeError": "{% trans '{file} is too large, maximum file size is {sizeLimit}.' %}",
    "minSizeError": "{% trans '{file} is too small, minimum file size is {minSizeLimit}.' %}",
    "emptyError": "{% trans '{file} is empty, please select files again without it.' %}",
    "onLeave": "{% trans 'The files are being uploaded, if you leave now the upload will be cancelled.' %}"
  }
  initFileUploader(fileUploader_url, template_strings, fileTemplate_strings, '{{ csrf_token }}', messages, 10485760);
</script>

{% block javascript %}
  <!--begin::hidden form-->
  <div style="display: none;">
    {% webpush_button %}
    <form action="{% url 'set_language' %}"
          method="post" id="change_language_form_id">
      {% csrf_token %}
      <input name="next" type="hidden" value="{{ redirect_to }}">
      <select name="language" id="change_language_select_id">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
          <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
            {{ language.name_local }} ({{ language.code }})
          </option>
        {% endfor %}
      </select>
      <input type="submit" value="Go">
    </form>
  </div>
  <!--end::hidden form-->

  {{ block.super }}

  {% if messages %}
    {% for message in messages %}
      <script>
        // Show message popup. For more info check the plugin's official documentation: https://sweetalert2.github.io/
        Swal.fire({
          text: "{{ message }}!",
          icon: "{% if message.tags %}{{ message.tags }}{% else %}success{% endif %}",
          buttonsStyling: false,
          confirmButtonText: "{% translate 'Ok' %}!",
          customClass: {
            confirmButton: "btn btn-primary"
          }
        });
      </script>
    {% endfor %}
  {% endif %}

  {% if form.errors %}
    <script id="id_form_error" type="application/json">
      {{ form.errors.as_json }}
    </script>
    <script>
      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toastr-top-center",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      };
      const form_errors = JSON.parse(document.getElementById('id_form_error').textContent.replaceAll('&quot;', '"'));
      $.each(form_errors, function (key, value) {
        $.each(value, function (index, _value) {
          if (key === "__all__") {
            toastr.error(_value.message, "{% translate 'Error' %}");
          } else {
            toastr.error(_value.message, key);
          }
        });
      });
    </script>
  {% endif %}

  <!--begin::Django language-->
  <script>
    function submitChangeLanguageForm(language) {
      $('#change_language_select_id').val(language).change();
      $('#change_language_form_id').submit();
    }
  </script>
  <!--end::Django language-->

{% endblock %}
