{% load static i18n webpush_notifications %}<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
  {% webpush_header %}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="description"
        content="{% block description %}{% endblock description %}"/>
  <meta name="keywords" content="{% block keywords %}{% endblock keywords %}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type"
        content="{% block og_type %}{% endblock og_type %}"/>
  <meta property="og:title"
        content="{% block og_title %}{% endblock og_title %}"/>
  <meta property="og:url" content="https://example.com"/>
  <meta property="og:site_name" content="example.com"/>
  <link rel="canonical" href="https://example.com"/>
  <link rel="shortcut icon" href="{% static 'media/logos/favicon.ico' %}"/>
  <!--begin::Fonts-->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
  <!--end::Fonts-->
  {% block css %}
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link
      href="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.css' %}"
      rel="stylesheet" type="text/css"/>
    <link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}"
          rel="stylesheet" type="text/css"/>
    <!--end::Page Vendor Stylesheets-->
  {% endblock %}
  <!--begin::Global Stylesheets Bundle(used by all pages)-->
  <link href="{% static 'plugins/global/plugins.bundle.css' %}"
        rel="stylesheet" type="text/css"/>
  <link href="{% static 'css/style.bundle.css' %}" rel="stylesheet"
        type="text/css"/>

  <!--end::Global Stylesheets Bundle-->
  <!--begin::Global Javascript Bundle(used by all pages)-->
  <script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
  <script src="{% static 'js/scripts.bundle.js' %}"></script>
  <!--end::Global Javascript Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body"
      class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled aside-enabled aside-fixed"
      style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">

<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
  <!--begin::Page-->
  <div class="page d-flex flex-row flex-column-fluid">

    <!--layout-partial:layout/aside/_base.html-->
    {% include 'layout/aside/_base.html' %}

    <!--begin::Wrapper-->
    <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">

      <!--layout-partial:layout/header/_base.html-->
      {% include 'layout/header/_base.html' %}

      <!--begin::Content-->
      <div class="content d-flex flex-column flex-column-fluid"
           id="kt_content">

        <!--layout-partial:layout/toolbars/_toolbar-1.html-->
        {% include 'layout/toolbars/_toolbar-1.html' %}

        <!--begin::Post-->
        <div class="post d-flex flex-column-fluid" id="">
          <div id="kt_content_container" class="container-xxl">
          {% if warning %}
            <!--begin::Notice-->
            <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6">
              <!--begin::Icon-->
              <!--begin::Svg Icon | path: icons/duotune/general/gen044.svg-->
              <span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="black"></rect>
                  <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="black"></rect>
                  <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="black"></rect>
                </svg>
              </span>
              <!--end::Svg Icon-->
              <!--end::Icon-->
              <!--begin::Wrapper-->
              <div class="d-flex flex-stack flex-grow-1">
                <!--begin::Content-->
                <div class="fw-bold">
                  <h4 class="text-gray-900 fw-bolder">
                    {% translate "We need your attention!" %}
                  </h4>
                  <div class="fs-6 text-gray-700">
                    {{ warning|safe }}
                  </div>
                </div>
                <!--end::Content-->
              </div>
              <!--end::Wrapper-->
            </div>
            <!--end::Notice-->
          {% endif %}
          {% block content %}
          <!--layout-partial:layout/_content.html-->
          {% endblock content %}

          </div>
        </div>
        <!--end::Post-->
      </div>
      <!--end::Content-->

      <!--layout-partial:layout/_footer.html-->

    </div>
    <!--end::Wrapper-->


  </div>
  <!--end::Page-->
</div>
<!--end::Root-->
<!--begin::Drawers-->

<!--layout-partial:layout/topbar/partials/_activity-drawer.html-->
{% include 'layout/topbar/partials/_activity-drawer.html' %}

<!--layout-partial:layout/drawers/_chat-drawer.html-->
{% include 'layout/drawers/_chat-drawer.html' %}

<!--end::Drawers-->
<!--end::Main-->

<!--layout-partial:layout/engage/_main.html-->

<!--layout-partial:layout/_scrolltop.html-->
{% include 'layout/_scrolltop.html' %}
<!--begin::Modals-->
{% block modal %}
  <!--layout-partial:partials/modals/_upgrade-plan.html-->


  <!--layout-partial:partials/modals/create-app/_main.html-->


  <!--layout-partial:partials/modals/_invite-friends.html-->


  <!--layout-partial:partials/modals/users-search/_main.html-->
{% endblock modal %}
<!--end::Modals-->
<!--begin::hidden form-->
<div style="display: none;">
  {% webpush_button %}
  <form action="{% url 'set_language' %}"
      method="post" id="change_language_form_id">
  {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language" id="change_language_select_id">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
  </form>
</div>
<!--end::hidden form-->
<!--begin::Javascript-->

{% block javascript %}
  <!--begin::Page Vendors Javascript(used by this page)-->
  <script
    src="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
  <script
    src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
  <!--end::Page Vendors Javascript-->
{% endblock javascript %}
{% if messages %}
    {% for message in messages %}
    <script>
      // Show message popup. For more info check the plugin's official documentation: https://sweetalert2.github.io/
      Swal.fire({
        text: "{{ message }}!",
        icon: "{% if message.tags %}{{ message.tags }}{% else %}success{% endif %}",
        buttonsStyling: false,
        confirmButtonText: "{% translate 'Ok' %}!",
        customClass: {
          confirmButton: "btn btn-primary"
        }
      });
    </script>
    {% endfor %}
  {% endif %}
{% if form.errors %}
  <script id="id_form_error" type="application/json">
    {{ form.errors.as_json }}
  </script>
  <script>
    const form_errors = JSON.parse(document.getElementById('id_form_error').textContent.replaceAll('&quot;', '"'));
    let html = '<ul class="list-inline">';
    $.each(form_errors, function (index, value){
      $.each(value, function (index, _value){
        html += _value.message;
      });
    });
    html += '</ul>'
    // Show message popup. For more info check the plugin's official documentation: https://sweetalert2.github.io/
    Swal.fire({
      html: html,
      icon: "error",
      buttonsStyling: false,
      confirmButtonText: "{% translate 'Ok' %}!",
      customClass: {
        confirmButton: "btn btn-danger"
      }
    });
  </script>
{% endif %}
<script>
  function submitChangeLanguageForm(language) {
     $('#change_language_select_id').val(language).change();
     $('#change_language_form_id').submit()
  }
</script>
<script defer>
  $("#webpush-subscribe-button").click();
</script>
{% block inline_javascript %}
  <!--begin::Page Custom Javascript(used by this page)-->
  <script src="{% static 'js/custom/widgets.js' %}"></script>
  <script src="{% static 'js/custom/apps/chat/chat.js' %}"></script>
  <script src="{% static 'js/custom/intro.js' %}"></script>
  <script src="{% static 'js/custom/modals/upgrade-plan.js' %}"></script>
  <script src="{% static 'js/custom/modals/create-app.js' %}"></script>
  <script src="{% static 'js/custom/modals/users-search.js' %}"></script>
  <!--end::Page Custom Javascript-->
{% endblock inline_javascript %}
<!--end::Javascript-->
</body>
<!--end::Body-->
</html>
