
										<!--begin::Mixed Widget 5-->
										<div class="card card-xxl-stretch mb-xl-8">
											<!--begin::Beader-->
											<div class="card-header border-0 py-5">
												<h3 class="card-title align-items-start flex-column">
													<span class="card-label fw-bolder fs-3 mb-1">Trends</span>
													<span class="text-muted fw-bold fs-7">Latest trends</span>
												</h3>
												<div class="card-toolbar">
													<!--begin::Menu-->
													<button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
														<!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
														<span class="svg-icon svg-icon-2">
															<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
																<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																	<rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
																	<rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																	<rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
																</g>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</button>

<!--layout-partial:partials/menus/_menu-3.html-->

													<!--end::Menu-->
												</div>
											</div>
											<!--end::Header-->
											<!--begin::Body-->
											<div class="card-body d-flex flex-column">
												<!--begin::Chart-->
												<div class="mixed-widget-5-chart card-rounded-top" data-kt-chart-color="success" style="height: 150px"></div>
												<!--end::Chart-->
												<!--begin::Items-->
												<div class="mt-5">
													<!--begin::Item-->
													<div class="d-flex flex-stack mb-5">
														<!--begin::Section-->
														<div class="d-flex align-items-center me-2">
															<!--begin::Symbol-->
															<div class="symbol symbol-50px me-3">
																<div class="symbol-label bg-light">
																	<img src="{% static 'media/svg/brand-logos/plurk.svg' %}" class="h-50" alt="" />
																</div>
															</div>
															<!--end::Symbol-->
															<!--begin::Title-->
															<div>
																<a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">Top Authors</a>
																<div class="fs-7 text-muted fw-bold mt-1">Ricky Hunt, Sandra Trepp</div>
															</div>
															<!--end::Title-->
														</div>
														<!--end::Section-->
														<!--begin::Label-->
														<div class="badge badge-light fw-bold py-4 px-3">+82$</div>
														<!--end::Label-->
													</div>
													<!--end::Item-->
													<!--begin::Item-->
													<div class="d-flex flex-stack mb-5">
														<!--begin::Section-->
														<div class="d-flex align-items-center me-2">
															<!--begin::Symbol-->
															<div class="symbol symbol-50px me-3">
																<div class="symbol-label bg-light">
																	<img src="{% static 'media/svg/brand-logos/figma-1.svg' %}" class="h-50" alt="" />
																</div>
															</div>
															<!--end::Symbol-->
															<!--begin::Title-->
															<div>
																<a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">Top Sales</a>
																<div class="fs-7 text-muted fw-bold mt-1">PitStop Emails</div>
															</div>
															<!--end::Title-->
														</div>
														<!--end::Section-->
														<!--begin::Label-->
														<div class="badge badge-light fw-bold py-4 px-3">+82$</div>
														<!--end::Label-->
													</div>
													<!--end::Item-->
													<!--begin::Item-->
													<div class="d-flex flex-stack">
														<!--begin::Section-->
														<div class="d-flex align-items-center me-2">
															<!--begin::Symbol-->
															<div class="symbol symbol-50px me-3">
																<div class="symbol-label bg-light">
																	<img src="{% static 'media/svg/brand-logos/vimeo.svg' %}" class="h-50" alt="" />
																</div>
															</div>
															<!--end::Symbol-->
															<!--begin::Title-->
															<div class="py-1">
																<a href="#" class="fs-6 text-gray-800 text-hover-primary fw-bolder">Top Engagement</a>
																<div class="fs-7 text-muted fw-bold mt-1">KT.com</div>
															</div>
															<!--end::Title-->
														</div>
														<!--end::Section-->
														<!--begin::Label-->
														<div class="badge badge-light fw-bold py-4 px-3">+82$</div>
														<!--end::Label-->
													</div>
													<!--end::Item-->
												</div>
												<!--end::Items-->
											</div>
											<!--end::Body-->
										</div>
										<!--end::Mixed Widget 5-->
