{% load i18n static %}
<!--begin::Add user-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#kt_modal_add_user">
  <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
  <span class="svg-icon svg-icon-2">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1" transform="rotate(-90 11.364 20.364)"
            fill="currentColor"/>
      <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor"/>
    </svg>
  </span>
  <!--end::Svg Icon-->Add User
</button>
<!--end::Add user-->
<!--begin::Modal - Add task-->
<div class="modal fade" id="kt_modal_add_user" tabindex="-1"
     aria-hidden="true">
  <!--begin::Modal dialog-->
  <div class="modal-dialog modal-dialog-centered mw-650px">
    <!--begin::Modal content-->
    <div class="modal-content">
      <!--begin::Modal header-->
      <div class="modal-header" id="kt_modal_add_user_header">
        <!--begin::Modal title-->
        <h2 class="fw-bolder">Add User</h2>
        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-icon btn-sm btn-active-icon-primary"
             data-kt-modal-action="close">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
          <span class="svg-icon svg-icon-1">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                    fill="currentColor"/>
              <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                    fill="currentColor"/>
            </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
      <!--end::Modal header-->
      <!--begin::Modal body-->
      <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
        <!--begin::Form-->
        <form id="kt_modal_add_user_form" class="form" action="#">
          <!--begin::Scroll-->
          <div class="d-flex flex-column scroll-y me-n7 pe-7"
               id="kt_modal_add_user_scroll" data-kt-scroll="true"
               data-kt-scroll-activate="{default: false, lg: true}"
               data-kt-scroll-max-height="auto"
               data-kt-scroll-dependencies="#kt_modal_add_user_header"
               data-kt-scroll-wrappers="#kt_modal_add_user_scroll"
               data-kt-scroll-offset="300px">
            <!--begin::Input group-->
            <div class="fv-row mb-7">
              <!--begin::Label-->
              <label class="d-block fw-bold fs-6 mb-5">Avatar</label>
              <!--end::Label-->
              <!--begin::Image input-->
              <div class="image-input image-input-outline"
                   data-kt-image-input="true"
                   style="background-image: url({% static 'media/svg/avatars/blank.svg' %})">
                <!--begin::Preview existing avatar-->
                <div class="image-input-wrapper w-125px h-125px"
                     style="background-image: url({% static 'media/avatars/150-1.jpg' %});"></div>
                <!--end::Preview existing avatar-->
                <!--begin::Label-->
                <label
                  class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                  data-kt-image-input-action="change"
                  data-bs-toggle="tooltip" title="Change avatar">
                  <i class="bi bi-pencil-fill fs-7"></i>
                  <!--begin::Inputs-->
                  <input type="file" name="avatar"
                         accept=".png, .jpg' %}, .jpeg"/>
                  <input type="hidden" name="avatar_remove"/>
                  <!--end::Inputs-->
                </label>
                <!--end::Label-->
                <!--begin::Cancel-->
                <span
                  class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                  data-kt-image-input-action="cancel"
                  data-bs-toggle="tooltip" title="Cancel avatar">
                                <i class="bi bi-x fs-2"></i>
                              </span>
                <!--end::Cancel-->
                <!--begin::Remove-->
                <span
                  class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                  data-kt-image-input-action="remove"
                  data-bs-toggle="tooltip" title="Remove avatar">
                                <i class="bi bi-x fs-2"></i>
                              </span>
                <!--end::Remove-->
              </div>
              <!--end::Image input-->
              <!--begin::Hint-->
              <div class="form-text">Allowed file types: png, jpg,
                jpeg.
              </div>
              <!--end::Hint-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="fv-row mb-7">
              <!--begin::Label-->
              <label class="required fw-bold fs-6 mb-2">Full
                Name</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="text" name="user_name"
                     class="form-control form-control-solid mb-3 mb-lg-0"
                     placeholder="Full name" value="Emma Smith"/>
              <!--end::Input-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="fv-row mb-7">
              <!--begin::Label-->
              <label class="required fw-bold fs-6 mb-2">Email</label>
              <!--end::Label-->
              <!--begin::Input-->
              <input type="email" name="user_email"
                     class="form-control form-control-solid mb-3 mb-lg-0"
                     placeholder="example@domain.com"
                     value="e.smith@kpmg.com.au"/>
              <!--end::Input-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="mb-7">
              <!--begin::Label-->
              <label class="required fw-bold fs-6 mb-5">Role</label>
              <!--end::Label-->
              <!--begin::Roles-->
              <!--begin::Input row-->
              <div class="d-flex fv-row">
                <!--begin::Radio-->
                <div
                  class="form-check form-check-custom form-check-solid">
                  <!--begin::Input-->
                  <input class="form-check-input me-3" name="user_role"
                         type="radio" value="0"
                         id="kt_modal_update_role_option_0"
                         checked='checked'/>
                  <!--end::Input-->
                  <!--begin::Label-->
                  <label class="form-check-label"
                         for="kt_modal_update_role_option_0">
                    <div class="fw-bolder text-gray-800">
                      Administrator
                    </div>
                    <div class="text-gray-600">Best for business owners
                      and company administrators
                    </div>
                  </label>
                  <!--end::Label-->
                </div>
                <!--end::Radio-->
              </div>
              <!--end::Input row-->
              <div class='separator separator-dashed my-5'></div>
              <!--begin::Input row-->
              <div class="d-flex fv-row">
                <!--begin::Radio-->
                <div
                  class="form-check form-check-custom form-check-solid">
                  <!--begin::Input-->
                  <input class="form-check-input me-3" name="user_role"
                         type="radio" value="1"
                         id="kt_modal_update_role_option_1"/>
                  <!--end::Input-->
                  <!--begin::Label-->
                  <label class="form-check-label"
                         for="kt_modal_update_role_option_1">
                    <div class="fw-bolder text-gray-800">Developer
                    </div>
                    <div class="text-gray-600">Best for developers or
                      people primarily using the API
                    </div>
                  </label>
                  <!--end::Label-->
                </div>
                <!--end::Radio-->
              </div>
              <!--end::Input row-->
              <div class='separator separator-dashed my-5'></div>
              <!--begin::Input row-->
              <div class="d-flex fv-row">
                <!--begin::Radio-->
                <div
                  class="form-check form-check-custom form-check-solid">
                  <!--begin::Input-->
                  <input class="form-check-input me-3" name="user_role"
                         type="radio" value="2"
                         id="kt_modal_update_role_option_2"/>
                  <!--end::Input-->
                  <!--begin::Label-->
                  <label class="form-check-label"
                         for="kt_modal_update_role_option_2">
                    <div class="fw-bolder text-gray-800">Analyst</div>
                    <div class="text-gray-600">Best for people who need
                      full access to analytics data, but don't need to
                      update business settings
                    </div>
                  </label>
                  <!--end::Label-->
                </div>
                <!--end::Radio-->
              </div>
              <!--end::Input row-->
              <div class='separator separator-dashed my-5'></div>
              <!--begin::Input row-->
              <div class="d-flex fv-row">
                <!--begin::Radio-->
                <div
                  class="form-check form-check-custom form-check-solid">
                  <!--begin::Input-->
                  <input class="form-check-input me-3" name="user_role"
                         type="radio" value="3"
                         id="kt_modal_update_role_option_3"/>
                  <!--end::Input-->
                  <!--begin::Label-->
                  <label class="form-check-label"
                         for="kt_modal_update_role_option_3">
                    <div class="fw-bolder text-gray-800">Support</div>
                    <div class="text-gray-600">Best for employees who
                      regularly refund payments and respond to disputes
                    </div>
                  </label>
                  <!--end::Label-->
                </div>
                <!--end::Radio-->
              </div>
              <!--end::Input row-->
              <div class='separator separator-dashed my-5'></div>
              <!--begin::Input row-->
              <div class="d-flex fv-row">
                <!--begin::Radio-->
                <div
                  class="form-check form-check-custom form-check-solid">
                  <!--begin::Input-->
                  <input class="form-check-input me-3" name="user_role"
                         type="radio" value="4"
                         id="kt_modal_update_role_option_4"/>
                  <!--end::Input-->
                  <!--begin::Label-->
                  <label class="form-check-label"
                         for="kt_modal_update_role_option_4">
                    <div class="fw-bolder text-gray-800">Trial</div>
                    <div class="text-gray-600">Best for people who need
                      to preview content data, but don't need to make
                      any updates
                    </div>
                  </label>
                  <!--end::Label-->
                </div>
                <!--end::Radio-->
              </div>
              <!--end::Input row-->
              <!--end::Roles-->
            </div>
            <!--end::Input group-->
          </div>
          <!--end::Scroll-->
          <!--begin::Actions-->
          <div class="text-center pt-15">
            <button type="reset" class="btn btn-light me-3"
                    data-kt-modal-action="cancel">Discard
            </button>
            <button type="submit" class="btn btn-primary"
                    data-kt-modal-action="submit">
              <span class="indicator-label">Submit</span>
              <span class="indicator-progress">Please wait...
                            <span
                              class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
          </div>
          <!--end::Actions-->
        </form>
        <!--end::Form-->
      </div>
      <!--end::Modal body-->
    </div>
    <!--end::Modal content-->
  </div>
  <!--end::Modal dialog-->
</div>
<!--end::Modal - Add task-->
