<!--begin::Menu toggle-->
<a href="#"
   class="btn btn-icon btn-custom btn-icon-muted btn-active-light btn-active-color-primary w-35px h-35px w-md-40px h-md-40px"
   data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-attach="parent"
   data-kt-menu-placement="bottom-end">
  {% get_svg_icon 'duotune/general/gen060.svg' 'svg-icon theme-light-show svg-icon-2' %}
  {% get_svg_icon 'duotune/general/gen061.svg' 'svg-icon theme-dark-show svg-icon-2' %}
</a>
<!--begin::Menu toggle-->
{% include 'partials/theme-mode/__menu.html' %}
