<!--begin::Form-->
<form id="kt_form_details_form"
      class="form" method="post" enctype="multipart/form-data"
      action={{ action_url }}>
  {% csrf_token %}
  <!--begin::Card body-->
  <div class="card-body p-9 pt-0">
    <div class="separator separator-dashed separator-content border-primary my-10">
      <span class="w-250px fw-bold">{% trans 'General Infomation' %}</span>
    </div>
    <!--begin::Form-->
    <div class="row">
      {% for field in form %}
        {% if field.name == 'model' %}
          <div id="id_div_field_schema_model" class="d-none"></div>
        {% else %}
          <!--begin::Input group-->
          <div
            class="col-md-6 row {% if forloop.last %}mb-0{% else %}mb-6{% endif %} {% if field.name in hidden_fields %}d-none{% endif %}">
            <!--begin::Label-->
            <label
              class="col-lg-4 col-form-label fw-bold fs-6 {% if field.field.required %}required{% endif %}">
              {{ field.label|title }}</label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              {{ field }}
              <div class="fv-plugins-message-container valid-feedback">{{ field.help_text }}</div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
        {% endif %}
      {% endfor %}
    </div>
    <!--end::Form-->

    <!--begin::Formsets-->
    {% include "forms/formset_as_div.html" %}
    <!--end::Formsets-->
  </div>
  <!--end::Card body-->
  <!--begin::Actions-->
  <div class="card-footer d-flex justify-content-end py-6 px-9">
    <button type="reset" class="btn btn-light btn-active-light-primary me-2">{% translate 'Discard' %}</button>
    <button type="submit" class="btn btn-primary" id="kt_form_details_submit">{% translate 'Save Changes' %}</button>
  </div>
  <!--end::Actions-->
</form>
<!--end::Form-->
