{% extends 'layout/master.html' %}

{% block layout %}
<!--begin::Root-->
<div class="d-flex flex-column flex-root" id="kt_app_root">
  <!--begin::Authentication - Sign-in -->
  <div class="d-flex flex-column flex-lg-row flex-column-fluid">
    <!--begin::Logo-->
    <a href="{% url 'home' %}" class="d-block d-lg-none mx-auto py-20">
      <img alt="Logo" src="{% static 'media/logos/default.svg' %}" class="theme-light-show h-25px" />
      <img alt="Logo" src="{% static 'media/logos/default-dark.svg' %}" class="theme-dark-show h-25px" />
    </a>
    <!--end::Logo-->
    <!--begin::Aside-->
    <div class="d-flex flex-column flex-column-fluid flex-center w-lg-50 p-10">
      <!--begin::Wrapper-->
      <div class="d-flex justify-content-between flex-column-fluid flex-column w-100 mw-450px">
        <!--begin::Header-->
        <div class="d-flex flex-stack py-2">
          <!--begin::Back link-->
          <div class="me-2"></div>
          <!--end::Back link-->
          <!--begin::Head link-->
          <div class="m-0">
            {% block header %}
            {% endblock header %}
          </div>
          <!--end::Head link=-->
        </div>
        <!--end::Header-->

        <!--begin::Body-->
        <div class="py-20"> {% block content %} {% endblock %} </div>
        <!--end::Body-->
        <!--begin::Footer-->
        {% block footer %}
        {% endblock footer %}
        <!--end::Footer-->
      </div>
      <!--end::Wrapper-->
    </div>
    <!--end::Aside-->
    <!--begin::Body-->
    <div class="d-none d-lg-flex flex-lg-row-fluid w-50 bgi-size-cover bgi-position-y-center bgi-position-x-start bgi-no-repeat"
         style="background-image: url({% static 'media/auth/bg11.png' %})"></div>
    <!--begin::Body-->
  </div>
  <!--end::Authentication - Sign-in-->
</div>
<!--end::Root-->
{% endblock layout %}
