{% load webpush_notifications %}<!DOCTYPE html>
<html lang="en" {% print_html_attributes 'html' %}>
<!--begin::Head-->
<head>
  {% webpush_header %}
  <title>{% block title %}{% endblock title %}</title>
  <meta charset="utf-8"/>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content=""/>
  <link rel="canonical" href=""/>
  <link rel="shortcut icon" href="{% include_favicon %}"/>

  {% block css %}
    <!--begin::Fonts-->
    {% include_fonts %}
    <!--end::Fonts-->

    <!--begin::Vendor Stylesheets(optional)-->
    {% get_vendors 'css' as vendors_css %}
    {% for file in vendors_css %}
      <link href="{{ file }}" rel="stylesheet" type="text/css"/>
    {% endfor %}
    <!--end::Vendor Stylesheets-->

    <!--begin::Custom Stylesheets(optional)-->
    {% get_custom_css as css %}
    {% for file in css %}
      <link href="{% static file %}" rel="stylesheet" type="text/css"/>
    {% endfor %}
    <!--end::Custom Stylesheets-->

    <!--begin::Global Stylesheets(mandatory)-->
    {% get_global_assets 'css' as assets_css %}
    {% for file in assets_css %}
      <link href="{% static file %}" rel="stylesheet" type="text/css"/>
    {% endfor %}
    <!--end::Global Stylesheets-->

    {% block inline_css %}
    {% endblock inline_css %}
  {% endblock css %}

  <!--begin::Tracking-->
  <!--end::Tracking-->
  {% block javascript %}
    <!--begin::Global Javascript(mandatory)-->
    {% get_global_assets 'js' as assets_js %}
    {% for file in assets_js %}
      <script src="{% static file %}"></script>
    {% endfor %}
    <!--end::Global Javascript-->

    <!--begin::Vendors Javascript(optional)-->
    {% get_vendors 'js' as vendors_js %}
    {% for file in vendors_js %}
      <script src="{{ file }}"></script>
    {% endfor %}
    <!--end::Vendors Javascript-->

    <!--begin::Custom Javascript(optional)-->
    {% get_custom_js as js %}
    {% for file in js %}
      <script src="{% static file %}"></script>
    {% endfor %}
    <!--end::Custom Javascript-->
  {% endblock javascript %}
</head>
<!--end::Head-->

<!--begin::Body-->
<body {% print_html_classes 'body' %} {% print_html_attributes 'body' %}>

{% include 'partials/theme-mode/_init.html' %}

{% block layout %}
{% endblock layout %}

<div class="d-none">
  {% webpush_button %}

  <form action="{% url 'set_language' %}"
        method="post" id="change_language_form_id">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language" id="change_language_select_id">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
      {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
          {{ language.name_local }} ({{ language.code }})
        </option>
      {% endfor %}
    </select>
    <input type="submit" value="Go">
  </form>

  <div id="trans_label_div">
    <input id="id_btn_cancel_label" value="{% trans 'Cancel' %}">
    <input id="id_btn_submit_label" value="{% trans 'Submit' %}">
    <input id="id_btn_close_label" value="{% trans 'Close' %}">
    <input id="id_btn_save_label" value="{% trans 'Save' %}">
    <input id="id_btn_save_changes_label" value="{% trans 'Save Changes' %}">
    <input id="id_btn_delete_item" value="{% trans 'Delete item' %}">
    <input id="id_btn_update_item" value="{% trans 'Update item' %}">
  </div>

  {% block hidden-div %}
  {% endblock hidden-div %}

</div>

{% block modal %}
{% endblock modal %}

{% block global_javascript %}
{% endblock global_javascript %}

{% block inline_javascript %}
  {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
{% endblock inline_javascript %}
</body>
<!--end::Body-->
</html>
