{% load static i18n %}<!DOCTYPE html>
<html lang="en">
	<!--begin::Head-->
	<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>{% block title %}{% endblock title %}</title>
		<meta name="description" content="{% block description %}{% endblock description %}" />
		<meta name="keywords" content="{% block keywords %}{% endblock keywords %}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="{% block og_type %}{% endblock og_type %}" />
		<meta property="og:title" content="{% block og_title %}{% endblock og_title %}" />
		<meta property="og:url" content="https://example.com" />
		<meta property="og:site_name" content="example.com" />
		<link rel="canonical" href="https://example.com" />
		<link rel="shortcut icon" href="{% static 'media/logos/favicon.ico' %}" />
		<!--begin::Fonts-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
		<!--end::Fonts-->
    {% block css %}
		<!--begin::Global Stylesheets Bundle(used by all pages)-->
		<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		<!--end::Global Stylesheets Bundle-->
    {% endblock %}
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="bg-body">
		<!--begin::Main-->
		<!--begin::Root-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Authentication - Sign-in -->
			<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url({% static 'media/illustrations/sketchy-1/14.png' %}">

        <!--begin::Content-->
				<div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
					<!--begin::Logo-->
					<a href="../../demo1/dist/index.html" class="mb-12">
						<img alt="Logo" src="{% static 'media/logos/logo-1.svg' %}" class="h-40px" />
					</a>
					<!--end::Logo-->
          {% block content %}

          {% endblock content %}
				</div>
				<!--end::Content-->

				<!--begin::Footer-->
				<div class="d-flex flex-center flex-column-auto p-10">
					<!--begin::Links-->
					<div class="d-flex align-items-center fw-bold fs-6">
						<a href="https://keenthemes.com" class="text-muted text-hover-primary px-2">About</a>
						<a href="mailto:support@keenthemes.com" class="text-muted text-hover-primary px-2">Contact</a>
						<a href="https://1.envato.market/EA4JP" class="text-muted text-hover-primary px-2">Contact Us</a>
					</div>
					<!--end::Links-->
				</div>
				<!--end::Footer-->
			</div>
			<!--end::Authentication - Sign-in-->
		</div>
		<!--end::Root-->
		<!--end::Main-->
		<!--begin::Javascript-->
		<!--begin::Global Javascript Bundle(used by all pages)-->
		<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'js/scripts.bundle.js' %}"></script>
		<!--end::Global Javascript Bundle-->
    {% block javascript %}
    {% endblock javascript %}
    {% if messages %}
      {% for message in messages %}
      <script>
        // Show message popup. For more info check the plugin's official documentation: https://sweetalert2.github.io/
        Swal.fire({
          text: "{{ message }}!",
          icon: "{% if message.tags %}{{ message.tags }}{% else %}success{% endif %}",
          buttonsStyling: false,
          confirmButtonText: "{% translate 'Ok' %}!",
          customClass: {
            confirmButton: "btn btn-primary"
          }
        });
      </script>
      {% endfor %}
    {% endif %}
    {% if form.errors %}
      <script id="id_form_error" type="application/json">
        {{ form.errors.as_json }}
      </script>
      <script>
        const form_errors = JSON.parse(document.getElementById('id_form_error').textContent.replaceAll('&quot;', '"'));
        let html = '<ul class="list-inline">';
        $.each(form_errors, function (index, value){
          $.each(value, function (index, _value){
            html += _value.message;
          });
        });
        html += '</ul>'
        // Show message popup. For more info check the plugin's official documentation: https://sweetalert2.github.io/
        Swal.fire({
          html: html,
          icon: "error",
          buttonsStyling: false,
          confirmButtonText: "{% translate 'Ok' %}!",
          customClass: {
            confirmButton: "btn btn-danger"
          }
        });
      </script>
    {% endif %}
		<!--end::Javascript-->
	</body>
	<!--end::Body-->
</html>












