{% firstof class '' as class %}
{% firstof textClass '' as textClass %}
{% firstof text '' as text %}
{% firstof buttonClass '' as buttonClass %}

<!--begin::Engage widget 2-->
<div class="card bgi-position-y-bottom bgi-position-x-end bgi-no-repeat bgi-size-cover min-h-250px {{ class }}"
     style="background-position: 100% 100%;background-size: 500px auto;background-image:url('{% static "media/misc/city.png" %}')">
  <!--begin::Body-->
  <div class="card-body d-flex flex-column justify-content-center ps-lg-15">
    <!--begin::Title-->
    <h3 class="{{ textClass }} d-flex fs-2qx fw-bolder mb-4 mb-lg-8">
      {{ text }}
    </h3>
    <!--end::Title-->
    <!--begin::Action-->
    <div class="m-0">
      <a href='#' class="btn {{ buttonClass }} fw-semibold" data-bs-target="#kt_modal_create_app"
         data-bs-toggle="modal">
        {{ buttonText }}
      </a>
    </div>
    <!--begin::Action-->
  </div>
  <!--end::Body-->
</div>
<!--end::Engage widget 2-->
