{% extends "base.html" %}

{% block content %}
  <!--begin::Basic info-->
  <div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
         data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="fw-bold m-0">{% trans 'Group Details' %}</h3>
      </div>
      <!--end::Card title-->
    </div>
    <!--begin::Card header-->
    <!--begin::Content-->
    <div id="kt_account_settings_profile_details" class="collapse show">
      {% include 'forms/one-col-form.html' %}
    </div>
    <!--end::Content-->
  </div>
  <!--end::Basic info-->
{% endblock content %}

{% block inline_javascript %}
{% endblock inline_javascript %}
