{% extends "base.html" %}

{% block content %}
  <!--begin::List Content -->
  <div class="d-flex flex-column flex-lg-row">
    <!--begin::Content-->
    <div class="flex-lg-row-fluid">
      <!--begin::Card-->
      <div class="card">
        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
          <!--begin::Actions-->
          <div class="d-flex flex-wrap gap-2">
            <!--begin::Checkbox-->
            <div class="form-check form-check-sm form-check-custom form-check-solid me-4 me-lg-7">
              <input class="form-check-input" data-kt-check="true"
                     data-kt-check-target="#kt_inbox_listing .form-check-input"
                     type="checkbox"
                     value="1"/>
            </div>
            <!--end::Checkbox-->
            <!--begin::Reload-->
            <a class="btn btn-sm btn-icon btn-light btn-active-light-primary"
               data-bs-dismiss="click"
               data-bs-placement="top" data-bs-toggle="tooltip"
               href="#" title="Reload">
              <!--begin::Svg Icon | path: icons/duotune/arrows/arr029.svg-->
              {% get_svg_icon 'duotune/arrows/arr029.svg' 'svg-icon svg-icon-2' %}
              <!--end::Svg Icon-->
            </a>
            <!--end::Reload-->
            <!--begin::Delete-->
            <a class="btn btn-sm btn-icon btn-light btn-active-light-primary"
               data-bs-dismiss="click"
               data-bs-placement="top" data-bs-toggle="tooltip"
               href="#" title="Delete">
              <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
              {% get_svg_icon 'duotune/general/gen027.svg' 'svg-icon svg-icon-2' %}
              <!--end::Svg Icon-->
            </a>
            <!--end::Delete-->
          </div>
          <!--end::Actions-->
          <!--begin::Actions-->
          <div class="d-flex align-items-center flex-wrap gap-2">
            <!--begin::Search-->
            <div class="d-flex align-items-center position-relative">
              <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
              {% get_svg_icon 'duotune/general/gen021.svg' 'svg-icon svg-icon-2 position-absolute ms-4' %}
              <!--end::Svg Icon-->
              <input
                class="form-control form-control-sm form-control-solid mw-100 min-w-125px min-w-lg-150px min-w-xxl-200px ps-12"
                data-kt-inbox-listing-filter="search"
                placeholder="Search Inbox"
                type="text"/>
            </div>
            <!--end::Search-->
            <!--begin::Toggle-->
            <a class="btn btn-sm btn-icon btn-color-primary btn-light btn-active-light-primary"
               data-bs-placement="top" data-bs-toggle="tooltip"
               id="kt_filter_form_toggle" title="{% trans 'Filters' %}">
              {% get_svg_icon 'duotune/general/gen031.svg' 'svg-icon svg-icon-3 m-0' %}
            </a>
            <!--end::Toggle-->
          </div>
          <!--end::Actions-->
        </div>
        <div class="card-body p-0 hover-scroll-overlay">
          <!--begin::Table-->
          <table class="table table-hover table-row-dashed fs-6 gy-5 my-0 min-w-900px"
                 id="kt_inbox_listing">
            <!--begin::Table head-->
            <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Author</th>
              <th>Title</th>
              <th>Date</th>
            </tr>
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody>
            <tr>
              <td class="ps-9">
                <!--begin::Checkbox-->
                <div class="form-check form-check-sm form-check-custom form-check-solid mt-3">
                  <input class="form-check-input" type="checkbox" value="1"/>
                </div>
                <!--end::Checkbox-->
              </td>
              <td class="min-w-80px">
                <!--begin::Star-->
                <a class="btn btn-icon btn-color-gray-400 btn-active-color-primary w-35px h-35px"
                   data-bs-placement="right"
                   data-bs-toggle="tooltip" href="#"
                   title="Star">
                  <!--begin::Svg Icon | path: icons/duotune/general/gen029.svg-->
                  <span class="svg-icon svg-icon-3">
            <svg fill="none" height="24"
                 viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.1359 4.48359C11.5216 3.82132 12.4784 3.82132 12.8641 4.48359L15.011 8.16962C15.1523 8.41222 15.3891 8.58425 15.6635 8.64367L19.8326 9.54646C20.5816 9.70867 20.8773 10.6186 20.3666 11.1901L17.5244 14.371C17.3374 14.5803 17.2469 14.8587 17.2752 15.138L17.7049 19.382C17.7821 20.1445 17.0081 20.7069 16.3067 20.3978L12.4032 18.6777C12.1463 18.5645 11.8537 18.5645 11.5968 18.6777L7.69326 20.3978C6.99192 20.7069 6.21789 20.1445 6.2951 19.382L6.7248 15.138C6.75308 14.8587 6.66264 14.5803 6.47558 14.371L3.63339 11.1901C3.12273 10.6186 3.41838 9.70867 4.16744 9.54646L8.3365 8.64367C8.61089 8.58425 8.84767 8.41222 8.98897 8.16962L11.1359 4.48359Z"
                fill="currentColor"/>
            </svg>
          </span>
                  <!--end::Svg Icon-->
                </a>
                <!--end::Star-->
                <!--begin::Important-->
                <a class="btn btn-icon btn-color-gray-400 btn-active-color-primary w-35px h-35px"
                   data-bs-placement="right"
                   data-bs-toggle="tooltip" href="#"
                   title="Mark as important">
                  <!--begin::Svg Icon | path: icons/duotune/general/gen056.svg-->
                  <span class="svg-icon svg-icon-4 mt-1">
            <svg fill="none" height="24"
                 viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.0077 19.2901L12.9293 17.5311C12.3487 17.1993 11.6407 17.1796 11.0426 17.4787L6.89443 19.5528C5.56462 20.2177 4 19.2507 4 17.7639V5C4 3.89543 4.89543 3 6 3H17C18.1046 3 19 3.89543 19 5V17.5536C19 19.0893 17.341 20.052 16.0077 19.2901Z"
                fill="currentColor"/>
            </svg>
          </span>
                  <!--end::Svg Icon-->
                </a>
                <!--end::Important-->
              </td>
              <!--begin::Author-->
              <td class="w-150px w-md-175px">
                <a class="d-flex align-items-center text-dark"
                   href="../../demo1/dist/apps/inbox/reply.html">
                  <!--begin::Avatar-->
                  <div class="symbol symbol-35px me-3">
                    <div class="symbol-label bg-light-danger">
                      <span class="text-danger">M</span>
                    </div>
                  </div>
                  <!--end::Avatar-->
                  <!--begin::Name-->
                  <span class="fw-semibold">Melody Macy</span>
                  <!--end::Name-->
                </a>
              </td>
              <!--end::Author-->
              <!--begin::Title-->
              <td>
                <div class="text-dark mb-1">
                  <!--begin::Heading-->
                  <a class="text-dark"
                     href="../../demo1/dist/apps/inbox/reply.html">
                    <span class="fw-bold">Digital PPV Customer Confirmation</span>
                    <span class="fw-bold d-none d-md-inine">-</span>
                    <span class="d-none d-md-inine text-muted">Thank you for ordering UFC 240 Holloway vs Edgar Alternate camera angles...</span>
                  </a>
                  <!--end::Heading-->
                </div>
                <!--begin::Badges-->
                <div class="badge badge-light-primary">inbox</div>
                <div class="badge badge-light-warning">task</div>
                <!--end::Badges-->
              </td>
              <!--end::Title-->
              <!--begin::Date-->
              <td class="w-100px text-end fs-7 pe-9">
                <span class="fw-semibold">8:30 PM</span>
              </td>
              <!--end::Date-->
            </tr>
            </tbody>
            <!--end::Table body-->
          </table>
          <!--end::Table-->
        </div>
      </div>
      <!--end::Card-->
    </div>
    <!--end::Content-->

    <!--begin::Sidebar-->
    {#    <div class=""#}
    {#         id="kt_drawer_filter_form"#}
    {#         data-kt-drawer="true" data-kt-drawer-activate="false"#}
    {#         data-kt-drawer-direction="end" data-kt-drawer-name="kt-drawer-filter-form"#}
    {#         data-kt-drawer-toggle="#kt_filter_form_toggle" data-kt-drawer-width="225px">#}
    {#      ..........#}
    {#    </div>#}
    <!--end::Sidebar-->

    <!--begin::View component-->
    <div
      id="kt_drawer_example_basic"
      class="rounded position-static d-md-none"
      data-kt-drawer="true"
      data-kt-drawer-direction="end"
      data-kt-drawer-activate="true"
      data-kt-drawer-toggle="#kt_filter_form_toggle"
      data-kt-drawer-close="#kt_drawer_example_basic_close"
      data-kt-drawer-width="225px"
    >
      <!--begin::Sticky aside-->
      <div class="card card-flush mb-0 w-100" data-kt-sticky="true"
           data-kt-sticky-animation="false"
           data-kt-sticky-left="auto"
           data-kt-sticky-name="inbox-aside-sticky"
           data-kt-sticky-offset="{default: false, xl: '100px'}"
           data-kt-sticky-top="100px" data-kt-sticky-width="{lg: '275px'}"
           data-kt-sticky-zindex="95">
        <!--begin::Aside content-->
        <div class="card-body ">
          tttt
        </div>
        <!--end::Aside content-->
      </div>
      <!--end::Sticky aside-->
    </div>
    <!--end::View component-->
  </div>

  <!--end::List Content -->

  <style>
    .drawer {
      display: none !important;
    }

    .drawer.drawer-on {
      display: flex !important;
    }
  </style>
{% endblock content %}

{% block inline_javascript %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      KTDrawer.createInstances();

      var drawerElement = document.querySelector("#kt_filter_form_toggle");
      var drawer = KTDrawer.getInstance(drawerElement);
    })
  </script>
{% endblock inline_javascript %}
