<!--begin::Menu-->
<div class="menu menu-sub menu-sub-dropdown menu-column w-250px w-lg-325px" data-kt-menu="true">
  <!--begin::Heading-->
  <div class="d-flex flex-column flex-center bgi-no-repeat rounded-top px-9 py-10"
       style="background-image:url('{% static 'media/misc/menu-header-bg.jpg' %}')">
    <!--begin::Title-->
    <h3 class="text-white fw-semibold mb-3">{% trans 'Admin Board' %}</h3>
    <!--end::Title-->
  </div>
  <!--end::Heading-->
  <!--begin:Nav-->
  <div class="row g-0">
    {% if perms.sites.change_site %}
      <!--begin:Item-->
      <div class="col-6">
        <a href="#"
           class="d-flex flex-column flex-center h-100 p-6 bg-hover-light border-end border-bottom"
           quick-update-button data-action-url="{% url 'sites:site-update' %}?popup=1" data-theme="drawer"
        >
          {% get_svg_icon 'duotune/general/gen062.svg' 'svg-icon svg-icon-3x svg-icon-primary mb-2' %}
          <span class="fs-5 fw-semibold text-gray-800 mb-0">{% trans 'Site Settings' %}</span>
        </a>
      </div>
      <!--end:Item-->
    {% endif %}
    {% if perms.auth.view_group %}
      <!--begin:Item-->
      <div class="col-6">
        <a href="{% url "auth:group-list" %}"
           class="d-flex flex-column flex-center h-100 p-6 bg-hover-light border-end border-bottom">
          {% get_svg_icon 'duotune/communication/com014.svg' 'svg-icon svg-icon-3x svg-icon-primary mb-2' %}
          <span class="fs-5 fw-semibold text-gray-800 mb-0">{% trans 'Group' %}</span>
        </a>
      </div>
      <!--end:Item-->
    {% endif %}
    {% if user.is_superuser %}
      <!--begin:Item-->
      <div class="col-6">
        <a href="{% url "allauth:template-list" %}"
           class="d-flex flex-column flex-center h-100 p-6 bg-hover-light border-end border-bottom">
          {% get_svg_icon 'duotune/communication/com010.svg' 'svg-icon svg-icon-3x svg-icon-primary mb-2' %}
          <span class="fs-5 fw-semibold text-gray-800 mb-0">{% trans 'Email Template' %}</span>
        </a>
      </div>
      <!--end:Item-->
      <!--begin:Item-->
      <div class="col-6">
        <a href="{% url "menu:menu-list" %}"
           class="d-flex flex-column flex-center h-100 p-6 bg-hover-light border-end border-bottom">
          {% get_svg_icon 'duotune/general/gen059.svg' 'svg-icon svg-icon-3x svg-icon-primary mb-2' %}
          <span class="fs-5 fw-semibold text-gray-800 mb-0">{% trans 'Menu' %}</span>
        </a>
      </div>
      <!--end:Item-->
    {% endif %}
  </div>
  <!--end:Nav-->
</div>
<!--end::Menu-->
