{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% block title %} {% translate "Confirm E-mail Address" %} {% endblock %}

{% block content %}
  <!--begin::Form-->
  <form class="form w-100" novalidate="novalidate"
        action="{% if confirmation %}{% url 'account_confirm_email' confirmation.key %}{% else %}#{% endif %}"
        method="post">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/> {% endif %}
    <!--begin::Body-->
    <div class="card-body">
      <!--begin::Heading-->
      <div class="text-start mb-10">
        <!--begin::Title-->
        <h1 class="text-dark mb-3 fs-3x" data-kt-translate="sign-in-title">{% translate "Confirm E-mail Address" %}</h1>
        <!--end::Title-->

        {% if confirmation %}
          {% user_display confirmation.email_address.user as user_display %}
          <div class="text-gray-400 fw-semibold fs-6"
               data-kt-translate="general-desc">
            {% blocktranslate with confirmation.email_address.email as email %}Please confirm that
              <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}
              .{% endblocktranslate %}
          </div>
        {% else %}
          {% url 'account_email' as email_url %}
          <div class="text-gray-400 fw-semibold fs-6"
               data-kt-translate="general-desc">
            {% blocktranslate %}This e-mail confirmation link expired or is invalid. Please
              <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.
            {% endblocktranslate %}
          </div>
        {% endif %}

      </div>
      <!--begin::Heading-->
      {% if confirmation %}
        <!--begin::Actions-->
        <div class="d-flex flex-stack">
          <!--begin::Submit-->
          <button id="kt_email_confirm_submit" class="btn btn-primary me-2 flex-shrink-0">
            <!--begin::Indicator label-->
            <span class="indicator-label" data-kt-translate="sign-in-submit">{% translate 'Confirmm' %}</span>
            <!--end::Indicator label-->
            <!--begin::Indicator progress-->
            <span class="indicator-progress">
            <span data-kt-translate="general-progress">{% translate 'Please wait...' %}</span>
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
            <!--end::Indicator progress-->
          </button>
          <!--end::Submit-->
        </div>
        <!--end::Actions-->
      {% endif %}
    </div>
    <!--begin::Body-->
  </form>
  <!--end::Form-->
{% endblock content %}
