{% extends 'account/base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% block title %} {% translate "Login" %} {% endblock %}

{% block header %}
  <span class="text-gray-400 fw-bold fs-5 me-2"
        data-kt-translate="sign-in-head-desc">{% translate 'Not a Member yet?' %}</span>
  <a href="{{ signup_url }}" class="link-primary fw-bold fs-5"
     data-kt-translate="sign-in-head-link">{% translate 'Sign Up' %}</a>
{% endblock header %}

{% block content %}
  {% get_providers as socialaccount_providers %}
  <!--begin::Form-->
  <form class="form w-100" novalidate="novalidate" id="kt_sign_in_form"
        data-kt-redirect-url="{{ redirect_field_value }}" action="#"
        method="post"> {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/> {% endif %}
    <!--begin::Body-->
    <div class="card-body">

      <!--begin::Heading-->
      <div class="text-start mb-10">
        <!--begin::Title-->
        <h1 class="text-dark mb-3 fs-3x" data-kt-translate="sign-in-title"> {% translate 'Sign In' %}</h1>
        <!--end::Title-->
        <!--begin::Text-->
        <div class="text-gray-400 fw-semibold fs-6"
             data-kt-translate="general-desc"> {% translate 'Get unlimited access & earn money' %} </div>
        <!--end::Link-->
      </div>
      <!--begin::Heading-->

      <!--begin::Input group=-->
      <div class="fv-row mb-8">
        <!--begin::Email-->
        <input type="text" placeholder="Username" name="login" autocomplete="off"
               data-kt-translate="sign-in-input-email" class="form-control form-control-solid" maxlength="150"
               required="" id="id_login" data-require-error-message="{% translate 'The Username is required' %}"/>
        <!--end::Email-->
      </div>
      <!--end::Input group=-->

      <!--begin::Input group=-->
      <div class="fv-row mb-7">
        <!--begin::Password-->
        <input type="password" placeholder="Password" name="password" autocomplete="off"
               data-kt-translate="sign-in-input-password" class="form-control form-control-solid" required=""
               id="id_password" data-require-error-message="{% translate 'The Password is required' %}"/>
        <!--end::Password-->
      </div>
      <!--end::Input group=-->

      <!--begin::Wrapper-->
      <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-10">
        <div class="form-check form-check-custom form-check-solid">
          <input class="form-check-input" type="checkbox" name="remember" id="id_remember"/>
          <label class="form-check-label" for="id_remember"> {% translate 'Remember me ?' %} </label>
        </div>
        <!--begin::Link-->
        <a href="{% url 'account_reset_password' %}" class="link-primary"
           data-kt-translate="sign-in-forgot-password">{% translate 'Forgot Password ?' %}</a>
        <!--end::Link-->
      </div>
      <!--end::Wrapper-->

      <!--begin::Actions-->
      <div class="d-flex flex-stack">
        <!--begin::Submit-->
        <button id="kt_sign_in_submit" class="btn btn-primary me-2 flex-shrink-0">
          <!--begin::Indicator label-->
          <span class="indicator-label" data-kt-translate="sign-in-submit">{% translate 'Sign In' %}</span>
          <!--end::Indicator label-->
          <!--begin::Indicator progress-->
          <span class="indicator-progress">
            <span data-kt-translate="general-progress">{% translate 'Please wait...' %}</span>
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
          <!--end::Indicator progress-->
        </button>
        <!--end::Submit-->
        {% if socialaccount_providers %}
          <!--begin::Social-->
          <div class="d-flex align-items-center">
            <div class="text-gray-400 fw-semibold fs-6 me-3 me-md-6" data-kt-translate="general-or">Or</div>
            <!--begin::Symbol-->
            <a href="#" class="symbol symbol-circle symbol-45px w-45px bg-light me-3">
              <img alt="Logo" src="{% static 'media/svg/brand-logos/google-icon.svg' %}" class="p-4"/>
            </a>
            <!--end::Symbol-->
            <!--begin::Symbol-->
            <a href="#" class="symbol symbol-circle symbol-45px w-45px bg-light me-3">
              <img alt="Logo" src="{% static 'media/svg/brand-logos/facebook-3.svg' %}" class="p-4"/>
            </a>
            <!--end::Symbol-->
            <!--begin::Symbol-->
            <a href="#" class="symbol symbol-circle symbol-45px w-45px bg-light">
              <img alt="Logo" src="{% static 'media/svg/brand-logos/apple-black.svg' %}" class="theme-light-show p-4"/>
              <img alt="Logo" src="{% static 'media/svg/brand-logos/apple-black-dark.svg' %}"
                   class="theme-dark-show p-4"/>
            </a>
            <!--end::Symbol-->
          </div>
          <!--end::Social-->
        {% endif %}
      </div>
      <!--end::Actions-->

    </div>
    <!--begin::Body-->
  </form>
  <!--end::Form-->
{% endblock content %}
