{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% block title %} {% translate "Password Reset" %} {% endblock %}

{% block content %}
  <!--begin::Form-->
  <form class="form w-100" novalidate="novalidate" id="kt_password_reset_form" action="#" method="post">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/> {% endif %}
    <!--begin::Body-->
    <div class="card-body">
      <!--begin::Heading-->
      <div class="text-start mb-10">
        <!--begin::Title-->
        <h1 class="text-dark mb-3 fs-3x" data-kt-translate="sign-in-title">{% translate "Password Reset" %}</h1>
        <!--end::Title-->
        <!--begin::Text-->
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% else %}
          <div class="text-gray-400 fw-semibold fs-6"
               data-kt-translate="general-desc">
            {% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
          </div>
        {% endif %}
        <!--end::Link-->
      </div>
      <!--begin::Heading-->

      <!--begin::Input group=-->
      <div class="fv-row mb-8">
        <!--begin::Email-->
        <input type="email" placeholder="{% translate 'E-mail address' %}" name="email" autocomplete="email"
               data-kt-translate="sign-in-input-email" class="form-control form-control-solid" maxlength="150"
               required="" id="id_email"
               data-require-error-message="{% translate 'The Email is required' %}"
               data-format-error-message="{% translate 'The value is not a valid email address' %}"
        />
        <!--end::Email-->
      </div>
      <!--end::Input group=-->

      <!--begin::Actions-->
      <div class="d-flex flex-stack">
        <!--begin::Submit-->
        <button id="kt_password_reset_submit" class="btn btn-primary me-2 flex-shrink-0">
          <!--begin::Indicator label-->
          <span class="indicator-label"
                data-kt-translate="password-reset-submit">{% translate 'Reset My Password' %}</span>
          <!--end::Indicator label-->
          <!--begin::Indicator progress-->
          <span class="indicator-progress">
            <span data-kt-translate="general-progress">{% translate 'Please wait...' %}</span>
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
          <!--end::Indicator progress-->
        </button>
        <!--end::Submit-->
      </div>
      <!--end::Actions-->

      <div class="text-gray-400 fw-semibold fs-6 m-2"
           data-kt-translate="general-desc">
        {% blocktranslate %}Please contact us if you have any trouble resetting your password.{% endblocktranslate %}
      </div>
    </div>

    <!--begin::Body-->
  </form>
  <!--end::Form-->
{% endblock content %}
