{% extends 'account/base.html' %}
{% load i18n %}
{% block title %} {% translate "Change Password" %} {% endblock %}

{% block content %}

  <!--begin::Form-->
  <form class="form w-100" novalidate="novalidate" id="kt_password_change_form"
        action="{% url 'account_change_password' %}" method="post">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/> {% endif %}
    <!--begin::Body-->
    <div class="card-body">
      <!--begin::Heading-->
      <div class="text-start mb-10">
        <!--begin::Title-->
        <h1 class="text-dark mb-3 fs-3x" data-kt-translate="sign-in-title">{% translate "Change Password" %}</h1>
        <!--end::Title-->
        <!--begin::Text-->
        <div class="text-gray-400 fw-semibold fs-6"
             data-kt-translate="general-desc"> {% translate 'Get unlimited access & earn money' %} </div>
        <!--end::Link-->
      </div>
      <!--begin::Heading-->

      <!--begin::Input group=-->
      <div class="fv-row mb-8">
        <!--begin::Wrapper-->
        <div class="mb-1">
          <!--begin::Input wrapper-->
          <div class="position-relative mb-3">
            <input type="password" placeholder="{% translate 'Current Password' %}" name="oldpassword"
                   autocomplete="current-password" required="" id="id_oldpassword"
                   class="form-control bg-transparent"
                   data-require-error-message="{% translate 'The Current Password is required' %}"
            />
            <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
                  data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
          </div>
          <!--end::Input wrapper-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Input group=-->

      <!--begin::Input group-->
      <div class="fv-row mb-8" data-kt-password-meter="true">
        <!--begin::Wrapper-->
        <div class="mb-1">
          <!--begin::Input wrapper-->
          <div class="position-relative mb-3">
            <input type="password" placeholder="{% translate 'Password' %}" name="password1" autocomplete="off"
                   required="" id="id_password1" class="form-control bg-transparent"
                   data-require-error-message="{% translate 'The Password is required' %}"
                   data-format-error-message="{% translate 'Please enter valid password' %}"
            />

            <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
                  data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
          </div>
          <!--end::Input wrapper-->

          <!--begin::Meter-->
          <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
          </div>
          <!--end::Meter-->
        </div>
        <!--end::Wrapper-->

        <!--begin::Hint-->
        <div class="text-muted">
          {% translate 'Use 8 or more characters with a mix of letters, numbers & symbols.' %}
        </div>
        <!--end::Hint-->
      </div>
      <!--end::Input group--->

      <!--begin::Input group=-->
      <div class="fv-row mb-8">
        <!--begin::Wrapper-->
        <div class="mb-1">
          <!--begin::Input wrapper-->
          <div class="position-relative mb-3">
            <input type="password" placeholder="{% translate 'Password (again)' %}" name="password2"
                   autocomplete="new-password" required="" id="id_password2"
                   data-kt-translate="sign-in-input-password" class="form-control bg-transparent"
                   data-require-error-message="{% translate 'The Password is required' %}"
                   data-identical-error-message="{% translate 'The password and its confirm are not the same' %}"
            />
            <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
                  data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
          </div>
          <!--end::Input wrapper-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Input group=-->

      <!--begin::Actions-->
      <div class="d-flex flex-stack">
        <!--begin::Submit-->
        <button id="kt_password_change_submit" class="btn btn-primary me-2 flex-shrink-0">
          <!--begin::Indicator label-->
          <span class="indicator-label" data-kt-translate="sign-in-submit">{% translate 'Change Password' %}</span>
          <!--end::Indicator label-->
          <!--begin::Indicator progress-->
          <span class="indicator-progress">
            <span data-kt-translate="general-progress">{% translate 'Please wait...' %}</span>
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
          <!--end::Indicator progress-->
        </button>
        <!--end::Submit-->
      </div>
      <!--end::Actions-->

    </div>
    <!--begin::Body-->

  </form>
  <!--end::Form-->

{% endblock content %}
