{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% block title %} {% translate "Password Reset" %} {% endblock %}

{% block content %}
  <!--begin::Form-->
  <form class="form w-100" novalidate="novalidate" action="#" method="post">
    <!--begin::Body-->
    <div class="card-body">
      <!--begin::Heading-->
      <div class="text-start mb-10">
        <!--begin::Title-->
        <h1 class="text-dark mb-3 fs-3x" data-kt-translate="sign-in-title">{% translate "Password Reset" %}</h1>
        <!--end::Title-->
        <!--begin::Text-->
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% else %}
          <div class="text-gray-400 fw-semibold fs-6"
               data-kt-translate="general-desc">
            {% blocktranslate %}
              We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
            {% endblocktranslate %}
          </div>
        {% endif %}
        <!--end::Link-->
      </div>
      <!--begin::Heading-->
    </div>
    <!--begin::Body-->
  </form>
  <!--end::Form-->
{% endblock content %}
