{% extends "account/root.html" %}
{% load static i18n %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block content %}
  <!--begin::Root-->
  <div class="d-flex flex-column flex-root">
    <!--begin::Authentication - Signup Welcome Message -->
    <div class="d-flex flex-column flex-column-fluid">
      <!--begin::Content-->
      <div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-15">
        {% include 'account/_logo.html' %}
        {% block inner %}

        {% endblock %}
        <!--begin::Illustration-->
        <div class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px" style="background-image: url({% static 'metronic/media/illustrations/sketchy-1/17.png' %}"></div>
        <!--end::Illustration-->
      </div>
      <!--end::Content-->
      {% include 'account/_footer.html' %}
    </div>
    <!--end::Authentication - Signup Welcome Message-->
  </div>
  <!--end::Root-->
{% endblock %}
