{% extends "account/base-col-1.html" %}

{% load i18n %}
{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block inner %}
  <!--begin::Wrapper-->
  <div class="pt-lg-10 mb-10">
    <!--begin::Logo-->
    <h1 class="fw-bolder fs-2qx text-gray-800 mb-7">{% translate "Change Password" %}</h1>
    <!--end::Logo-->
    <!--begin::Message-->
    <div class="fw-bold fs-3 text-muted mb-15">{% blocktranslate %}Your password is now changed.{% endblocktranslate %}</div>
    <!--end::Message-->
    <!--begin::Action-->
    <div class="text-center">
      <a href="{% url 'account_login' %}" class="btn btn-lg btn-primary fw-bolder">{% translate "Login" %}</a>
    </div>
    <!--end::Action-->
  </div>
<!--end::Wrapper-->
{% endblock %}
