{% extends "account/base-col-2.html" %}

{% load i18n %}
{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block inner %}
  <!--begin::Wrapper-->
  <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
    <!--begin::Form-->
    <form class="form w-100" novalidate="novalidate"
          id="kt_change_password_form" method="POST" action=".">
      {% csrf_token %}

      {% if token_fail %}
        <!--begin::Heading-->
        <div class="text-center mb-10">
          <!--begin::Title-->
          <h1 class="text-dark mb-3">
            {% translate "Bad Token" %}
          </h1>
          <!--end::Title-->
          <!--begin::Link-->
          {% url 'account_reset_password' as passwd_reset_url %}
          <div class="text-gray-400 fw-bold fs-4">{% blocktranslate %}The
            password reset link was invalid, possibly
            because it has already been used.  Please request a
            <a href="{{ passwd_reset_url }}">new password reset</a>
            .{% endblocktranslate %}
          </div>
          <!--end::Link-->
        </div>
        <!--begin::Heading-->
      {% else %}
        <!--begin::Heading-->
        <div class="text-center mb-10">
          <!--begin::Title-->
          <h1 class="text-dark mb-3">
            {% translate "Change Password" %}
          </h1>
          <!--end::Title-->
          {% if form %}
          {% else %}
            <!--begin::Link-->
            {% url 'account_reset_password' as passwd_reset_url %}
            <div class="text-gray-400 fw-bold fs-4">
              {% translate 'Your password is now changed.' %}
            </div>
            <!--end::Link-->
          {% endif %}
        </div>
        <!--begin::Heading-->
        {% if form %}
          <!--begin::Input group-->
          <div class="mb-10 fv-row" data-kt-password-meter="true">
            <!--begin::Wrapper-->
            <div class="mb-1">
              <!--begin::Label-->
              <label
                class="form-label fw-bolder text-dark fs-6">{% translate "Password" %}</label>
              <!--end::Label-->
              <!--begin::Input wrapper-->
              <div class="position-relative mb-3">
                <input class="form-control form-control-lg form-control-solid"
                       type="password" placeholder="" name="password1"
                       autocomplete="off" id="id_password1"/>
                <span
                  class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
                  data-kt-password-meter-control="visibility">
              <i class="bi bi-eye-slash fs-2"></i>
              <i class="bi bi-eye fs-2 d-none"></i>
            </span>
              </div>
              <!--end::Input wrapper-->
              <!--begin::Meter-->
              <div class="d-flex align-items-center mb-3"
                   data-kt-password-meter-control="highlight">
                <div
                  class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div
                  class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div
                  class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div
                  class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
              </div>
              <!--end::Meter-->
            </div>
            <!--end::Wrapper-->
            <!--begin::Hint-->
            <div class="text-muted">{% blocktranslate %}Use 8 or more
              characters with a mix of letters, numbers &amp;
              symbols.{% endblocktranslate %}
            </div>
            <!--end::Hint-->
          </div>
          <!--end::Input group=-->
          <!--begin::Input group-->
          <div class="fv-row mb-5">
            <label
              class="form-label fw-bolder text-dark fs-6">{% translate "Confirm Password" %}</label>
            <input class="form-control form-control-lg form-control-solid"
                   type="password" placeholder="" name="password2"
                   autocomplete="off" id="id_password2"/>
          </div>
          <!--end::Input group-->
          <!--begin::Actions-->
          <div class="text-center">
            <button type="button" id="kt_change_password_submit"
                    class="btn btn-lg btn-primary">
              <span class="indicator-label">{% translate "Submit" %}</span>
              <span class="indicator-progress">{% translate "Please wait" %}...
            <span
              class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
          </div>
          <!--end::Actions-->
        {% endif %}
      {% endif %}
    </form>
    <!--end::Form-->
  </div>
  <!--end::Wrapper-->
{% endblock %}

{% block javascript %}
  <script>
    // Elements
    var form = document.querySelector('#kt_change_password_form');
    var submitButton = document.querySelector('#kt_change_password_submit');
    var passwordMeter = KTPasswordMeter.getInstance(form.querySelector('[data-kt-password-meter="true"]'));

    // Init form validation rules. For more info check the FormValidation plugin's official documentation:https://formvalidation.io/
    var validator = FormValidation.formValidation(
      form,
      {
        fields: {
          'password1': {
            validators: {
              notEmpty: {
                message: '{% translate "The password is required" %}'
              },
              callback: {
                message: '{% translate "Please enter valid password" %}',
                callback: function (input) {
                  if (input.value.length > 0) {
                    return validatePassword();
                  }
                }
              }
            }
          },
          'password2': {
            validators: {
              notEmpty: {
                message: '{% translate "The password confirmation is required" %}'
              },
              identical: {
                compare: function () {
                  return form.querySelector('[name="password1"]').value;
                },
                message: '{% translate "The password and its confirm are not the same" %}'
              }
            }
          }
        },
        plugins: {
          trigger: new FormValidation.plugins.Trigger({
            event: {
              password: false
            }
          }),
          bootstrap: new FormValidation.plugins.Bootstrap5({
            rowSelector: '.fv-row',
            eleInvalidClass: '',
            eleValidClass: ''
          })
        }
      }
    );

    // Handle form submit
    submitButton.addEventListener('click', function (e) {
      e.preventDefault();

      validator.revalidateField('password1');

      validator.validate().then(function (status) {
        if (status == 'Valid') {
          // Show loading indication
          submitButton.setAttribute('data-kt-indicator', 'on');

          // Disable button to avoid multiple click
          submitButton.disabled = true;

          form.submit();
        } else {
          // Show error popup. For more info check the plugin's official documentation: https://sweetalert2.github.io/
          Swal.fire({
            text: "{% translate 'Sorry, looks like there are some errors detected, please try again' %}.",
            icon: "error",
            buttonsStyling: false,
            confirmButtonText: "{% translate 'Ok, got it' %}!",
            customClass: {
              confirmButton: "btn btn-primary"
            }
          });
        }
      });
    });

    // Handle password input
    form.querySelector('input[name="password1"]').addEventListener('input', function () {
      if (this.value.length > 0) {
        validator.updateFieldStatus('password1', 'NotValidated');
      }
    });

    // Password input validation
    var validatePassword = function () {
      return (passwordMeter.getScore() === 100);
    }
  </script>
{% endblock javascript %}
