{% extends "base.html" %}
{% load static i18n humanize %}

{% block title %}Site: {{ object.name }}{% endblock %}

{% block content %}
  <!--begin::Form-->
  <form class="form mx-auto" novalidate="novalidate" method="post"
        action="{% url 'settings:site' %}" enctype="multipart/form-data">

        {% csrf_token %}
        {{ form.as_p }}

        {{ setting_form.as_p }}

        <button type="submit" class="btn btn-primary" data-kt-stepper-action="submit">
          <span class="indicator-label">
              {% translate 'Save Changes' %}
          </span>
        </button>
  </form>
  <!--end::Form-->
{% endblock content %}
