{% load static i18n %}
<!--begin::Demos drawer-->
<div id="kt_engage_file" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="explore"
     data-kt-drawer-activate="true" data-kt-drawer-overlay="true"
     data-kt-drawer-width="{default:'350px', 'lg': '475px'}" data-kt-drawer-direction="end"
     data-kt-drawer-toggle="#kt_engage_file_toggle" data-kt-drawer-close="#kt_engage_file_close">
  <!--begin::Card-->
  <div class="card shadow-none rounded-0 w-100">
    <!--begin::Header-->
    <div class="card-header" id="kt_engage_file_header">
      <h3 class="card-title fw-bolder text-gray-700">{% translate 'File Explore' %}</h3>
      <div class="card-toolbar">
        <button type="button" class="btn btn-sm btn-icon btn-active-color-primary h-40px w-40px me-n6"
                id="kt_engage_file_close">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
          <span class="svg-icon svg-icon-2">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)"
                    fill="currentColor"/>
              <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
                    fill="currentColor"/>
            </svg>
          </span>
          <!--end::Svg Icon-->
        </button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body" id="kt_engage_file_body">
      <div id="kt_file_upload_form" class="mb-5">

      </div>
      <!--begin::Content-->
      <div id="kt_explore_scroll" class="scroll-y me-n5 pe-5" data-kt-scroll="true" data-kt-scroll-height="auto"
           data-kt-scroll-wrappers="#kt_engage_file_body" data-kt-scroll-dependencies="#kt_engage_file_header"
           data-kt-scroll-offset="5px">
        <!--begin::Wrapper-->
        <div class="mb-0">
          <!--begin::Heading-->
          <div class="mb-7">

          </div>
          <!--end::Heading-->
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Content-->
    </div>
    <!--end::Body-->
  </div>
  <!--end::Card-->
</div>
<!--end::Demos drawer-->
