{% extends "base.html" %}
{% load static object_filter %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
  <!--begin::Container-->
  {% include 'users/_user_card.html' with user=request.user %}
  <!--begin::details View-->
  <div class="card mb-5 mb-xl-10"
       id="kt_profile_details_view">
    <!--begin::Card body-->
    <div class="card-body p-9">
      {% for field in fields %}
      <!--begin::Row-->
      <div class="row mb-7">
        <!--begin::Label-->
        <label class="col-lg-4 fw-bold text-muted">
          {{ field.verbose_name|title }}</label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="col-lg-8">
          <span class="fw-bolder fs-6 text-gray-800">
            {{ field.name|obj_val:object }}</span>
        </div>
        <!--end::Col-->
      </div>
      <!--end::Row-->
      {% endfor %}
      <!--begin::Input group-->
      <!--<div class="row mb-7">-->
        <!--begin::Label-->
        <!--<label class="col-lg-4 fw-bold text-muted">Company</label>-->
        <!--end::Label-->
        <!--begin::Col-->
        <!--<div class="col-lg-8 fv-row">
          <span class="fw-bold text-gray-800 fs-6">Keenthemes</span>
        </div>-->
        <!--end::Col-->
      <!--</div>-->
      <!--end::Input group-->
    </div>
    <!--end::Card body-->
  </div>
  <!--end::details View-->
  <!--end::Container-->
{% endblock content %}
