{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% translate 'User managements' %}: {% translate 'Group list' %}{% endblock %}

{% block content %}
  <table class="table align-middle table-row-dashed fs-6 gy-5"
         id="kt_table_settings"
         data-server-side="true"
         data-ajax="{% url 'api:group-list' %}?format=datatables"></table>
  <div>
    <h1>List</h1>
    {% for object in object_list %}
      <p>{{ object.name }}</p>
      <p>{{ object.avatar.url }}</p>
    {% endfor %}
  </div>

{% endblock content %}
