<!--begin::Primary button-->
<a
  class="btn btn-sm btn-icon btn-color-{{ action.class }} btn-light btn-active-light-{{ action.class }}"

  data-bs-toggle="tooltip"
  data-bs-delay-hide="1000"
  data-bs-placement="top"
  title="{{ action.label }}"

  {% if action.type == "modal" %}
  data-action-url="{{ action.url }}"
  {{ action.attributes }}
  {% elif action.type == "drawer" %}
  id="{{ action.url }}"
  {% else %}
  href="{{ action.url }}"
  {% endif %}

>
  {% get_svg_icon action.icon 'svg-icon svg-icon-3 m-0' %}
</a>
<!--end::Primary button-->
